.underscore_maz img {
  height: 10px;
  width: 400px;
  display: block;
  margin-left: -10px;
}

.underscore_maz h2 {
  margin-top: 50px;
  display: inline-block;
}

section {
  margin-top: 50px;
}

.spec .bordo2 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #262626;
}

.spec .row {
  display: flex;
  background-color: #262626;
}

.bg_contain .bg {
  background-size: contain;
}

footer {
  color: #fff;
}

footer a {
  color: #C01F24 !important;
}

#copyright {
  border-top: 1px solid #333;
  padding-top: 10px;
  margin-top: 20px;
}

#copyright #autor {
  display: inline;
  position: static;
  background-color: inherit;
  border: 0px;
}

#copyright #autor a {
  color: #C01F24 !important;
  font-size: 17px;
}

#count h3 {
  display: none;
}

#tiles_hover_dropdown .single_till {
  margin: 0 auto;
  max-width: 300px;
  height: 300px;
  border: 10px solid #262626;
  margin-bottom: 0px;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

#tiles_hover_dropdown .single_till .single_till_content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 86%;
  bottom: 0px;
  text-align: center;
  background-color: #262626;
  color: #fff;
  transition-duration: 1s;
}

#tiles_hover_dropdown .single_till:hover .single_till_content {
  top: 50%;
  transition-duration: 1s;
}

#tiles_hover_dropdown .single_till_bottom {
  margin: 0 auto;
  max-width: 300px;
  margin-bottom: 30px;
  background-color: #C01F24;
  height: 50px;
  text-align: center;
  color: #fff;
  line-height: 50px;
}

#tiles_hover_dropdown .single_till_bottom h3 {
  margin: 0px;
  display: inline;
  font-size: 17px;
  margin-right: 5px;
}

.v2_text_foto .bg {
  background-size: 90%;
  background-position: right;
}

#border_box {
  border: 2px solid #262626;
}
