
#carouselExampleIndicators {
  padding-top: 65px;
  background-image: url("./img/tlo-home-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  @media (max-width: 567px) {
    text-align: center;
  }
.carousel-inner {
  padding-top: 30px;
  padding-bottom: 125px;
  height: 650px;
  @media (max-width: 567px) {
    height: auto;
    padding-top: 0;
    text-align: center;
  }
}
  .row {
    align-items: center;
    margin-bottom: 30px;
  }

  .carousel-item {
  }

  img {
    max-width: 100%;
    margin-bottom: 15px;
    // width: 277px;
  }
  h2 {
    margin-bottom: 50px;
  }

  /* Animation delays */
  .row:first-child {
    animation-delay: 1s;
  }

  .row:nth-child(2) {
    animation-delay: 2s;
    @media (max-width: 567px) {
      flex-direction: column-reverse;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
   height: 40px;
   width: 40px;
   background-color: #92D300;
   bottom: 50px;
   top: auto;
   display: block;
   opacity: 1;
   background-size: 30%;
   background-position: center;
   background-repeat: no-repeat;
  span {display: none;}
  }
  .carousel-control-prev {
    left: calc(50% - 40px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url('./img/arrow-left.svg');
    background-position: 60% 50%;
  }
  .carousel-control-next {
    background-position: 40% 50%;
    right: calc(50% - 40px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url('./img/arrow-right.svg');
  }


}
