#navigation-container {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.navbar ul li a {
  padding: 0;
}

@media (max-width: 330px) {
  .navbar .navbar-brand img {
    float: left;
  }
}

@media (min-width: 1400px) {
  .navbar ul li {
    position: relative;
    margin-left: 20px;
  }
  .navbar ul li::after {
    content: "";
    display: block;
    border-left: 1px solid #B6B6B6;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 0;
  }
  .navbar ul li:last-child::after {
    display: none;
  }
}

@media (max-width: 1199px) {
  .navbar ul li::after {
    right: -10px;
  }
}

.navbar-toggler {
  border: 0px;
  color: #042F5C;
}

#menu-menu-glowne li:hover a {
  text-decoration: none;
}

@media (min-width: 1400px) {
  #navbarNav li {
    transition-duration: 0.6s;
    border-bottom: 3px solid transparent;
  }
  #navbarNav li.activeItem {
    transition-duration: 0.6s;
  }
  #navbarNav {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    max-width: 1260px;
    margin: 0 auto;
    padding-right: 40px;
  }
  #navbarNav #menu-menu-glowne {
    display: flex;
    justify-content: flex-end;
  }
  #menu-menu-glowne {
    display: flex;
    /*justify-content: space-around;*/
    width: 100%;
    max-width: 1100px;
  }
}

@media (max-width: 1199px) {
  #navbarNav {
    padding-right: 0px;
  }
}

@media (max-width: 1150px) {
  .navbar ul li a {
    font-size: 12px;
    padding: 0px;
    /*transition-duration: 0.3s;*/
  }
}

@media (max-width: 1399px) {
  #navbarNav, .collapsing {
    width: auto;
    overflow: hidden;
    position: absolute;
    top: 79px;
    left: 0px;
    right: 0px;
    /*z-index: -1;*/
    /*height: 100vh;*/
    /*border-bottom: 1px solid #D6D6D6;*/
    /*height: calc(100vh - 80px);*/
  }
  #menu-menu-glowne {
    height: calc(100vh - 79px);
  }
  .navbar li, .collapsing li {
    width: 100%;
    position: relative;
    display: block;
    background-color: #fff;
    height: 25.6%;
    text-align: center;
    border-top: 1px solid #D6D6D6;
    display: flex;
    justify-content: center;
    align-items: center;
    display: table;
    /*transition-duration: 0.3s;*/
  }
  .navbar li a {
    position: relative;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
  }
  .navbar li:hover {
    color: #fff;
  }
  .navbar li:hover a:hover {
    color: #fff;
  }
  .navbar li:hover a {
    color: #fff;
    font-weight: bold;
    /*transition-duration: 0.3s;*/
  }
  .navbar ul li.current-menu-item a {
    border-bottom: none;
  }
}

/*TOGGLE STYLE*/
#nav-icon2 {
  display: none;
}

@media (max-width: 1399px) {
  #navbarNav {
    display: block;
    z-index: -2;
    top: -100vh;
    transition-duration: 0.5s;
  }
  #navbarNav.open-menu {
    display: block;
    top: 79px;
    transition-duration: 0.5s;
  }
  #nav-icon2 {
    display: block;
  }
}

/*TOGGLE STYLE END*/
/*ANIMATION BUTTON*/
/* Icon 1 */
#nav-icon2 {
  width: 60px;
  height: 45px;
  position: relative;
  /*margin: 50px auto;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  background-color: #fff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 2 */
#nav-icon2 {
  transform: scale(0.5);
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

#navigation-container .navbar {
  background-color: #35153f !important;
}

#navigation-container .navbar a {
  font-weight: 300;
  bottom: 0;
  outline: 0;
}

#navigation-container .navbar li:after {
  display: none;
}

#navigation-container .navbar button {
  padding: 5px 10px;
  font-weight: 600;
  margin-left: 20px;
  font-size: 16px;
  padding-top: 8px;
}

#navigation-container .navbar #nav-icon2 {
  position: absolute;
  right: 20px;
  top: auto;
}

@media (max-width: 1399px) {
  #men_left_wid {
    display: none;
  }
}

@media (max-width: 1100px) {
  #men_right_wid {
    display: none;
  }
}

@media (min-width: 1400px) {
  .navbar {
    height: 57px;
  }
  .navbar ul li a {
    padding: 8px;
  }
  .navbar .navbar-brand img {
    max-width: 120px;
    max-height: 30px;
  }
  #navbarNav li.activeItem a:after,
  #navbarNav li a.activeItem:after {
    display: block;
    content: '';
    height: 3px;
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -3px;
  }
  #navbarNav #menu-menu-glowne li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 1399px) {
  .navbar li, .collapsing li {
    background-color: #242424;
  }
  .navbar li:hover a {
    color: #242424 !important;
  }
}

@media (max-width: 440px) {
  button {
    display: none;
  }
  #navigation-container .navbar button {
    display: none;
  }
  #navigation-container .navbar #nav-icon2 {
    right: 20px;
  }
}
