.bg_col1 {
    background-color:$color1;
}

.bg_col2 {
    background-color:$color2;
}

.bg_col3 {
    background-color:$color3;
}

.ve_cont {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}