
body,html {
  min-width: 300px;
}


.animate, .animate3 {
  opacity: 0;
  border: 1px solid red;
}

.animate2 {
  opacity: 0;
  transform: scale(0);
}
.anime_show {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1);
}

.anime_show3 {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1);
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
 animation-duration: 1s;
 animation-delay: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.5s;
 animation-duration: 0.5s;
 animation-delay: 0.5s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-delay: 2s;
}
