html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  min-width: 310px;
  scroll-behavior: smooth;
}

@media (max-width: 767px) {
  html,
  body,
  .root {
    text-align: center;
  }
}

a {
  border: 0px;
  outline: 0px;
  color: inherit !important;
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover {
  transition-duration: 0.5s;
  text-decoration: none !important;
}

@media (max-width: 991px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
}

section {
  background-position: center;
  background-repeat: repeat;
  position: relative;
  position: relative;
}

@media (max-width: 567px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

img {
  width: auto;
  height: auto;
}

@media (max-width: 767px) {
  img {
    margin-bottom: 15px;
  }
}

.box_center,
.center_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.box_flex {
  display: flex;
  justify-content: space-between;
}

.c1-text {
  color: #17eaa6 !important;
  background: -webkit-linear-gradient(180deg, #32adc9 0%, #17eaa6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.c1-border {
  border-color: #17eaa6 !important;
}

.c1-bg {
  background-color: #17eaa6 !important;
}

.c2-text {
  color: #0e2f69 !important;
}

.c2-border {
  border-color: #0e2f69 !important;
}

.c2-bg {
  background-color: #0e2f69 !important;
}

.c3-text {
  color: #14d5ba !important;
}

.c3-border {
  border-color: #14d5ba !important;
}

.c3-bg {
  background-color: #14d5ba !important;
}

.c0-text {
  color: #fff !important;
}

.c0-border {
  border-color: #fff !important;
}

.c0-bg {
  background-color: #fff !important;
}

.m0 {
  margin: 0;
}

.m01 {
  margin: 0.1rem;
}

.m02 {
  margin: 0.2rem;
}

.m03 {
  margin: 0.3rem;
}

.m04 {
  margin: 0.4rem;
}

.m05 {
  margin: 0.5rem;
}

.m06 {
  margin: 0.6rem;
}

.m07 {
  margin: 0.7rem;
}

.m08 {
  margin: 0.8rem;
}

.m09 {
  margin: 0.9rem;
}

.m1 {
  margin: 1rem;
}

.m11 {
  margin: 1.1rem;
}

.m12 {
  margin: 1.2rem;
}

.m13 {
  margin: 1.3rem;
}

.m14 {
  margin: 1.4rem;
}

.m15 {
  margin: 1.5rem;
}

.m16 {
  margin: 1.6rem;
}

.m17 {
  margin: 1.7rem;
}

.m18 {
  margin: 1.8rem;
}

.m19 {
  margin: 1.9rem;
}

.m2 {
  margin: 2rem;
}

.m25 {
  margin: 2.5rem;
}

.m3 {
  margin: 3rem;
}

.m35 {
  margin: 3.5rem;
}

.m4 {
  margin: 4rem;
}

.m01em {
  margin: 0.1em;
}

.m02em {
  margin: 0.2em;
}

.m03em {
  margin: 0.3em;
}

.m04em {
  margin: 0.4em;
}

.m05em {
  margin: 0.5em;
}

.m06em {
  margin: 0.6em;
}

.m07em {
  margin: 0.7em;
}

.m08em {
  margin: 0.8em;
}

.m09em {
  margin: 0.9em;
}

.m1em {
  margin: 1em;
}

.mt0 {
  margin-top: 0;
}

.mt01 {
  margin-top: 0.1rem;
}

.mt02 {
  margin-top: 0.2rem;
}

.mt03 {
  margin-top: 0.3rem;
}

.mt04 {
  margin-top: 0.4rem;
}

.mt05 {
  margin-top: 0.5rem;
}

.mt06 {
  margin-top: 0.6rem;
}

.mt07 {
  margin-top: 0.7rem;
}

.mt08 {
  margin-top: 0.8rem;
}

.mt09 {
  margin-top: 0.9rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt11 {
  margin-top: 1.1rem;
}

.mt12 {
  margin-top: 1.2rem;
}

.mt13 {
  margin-top: 1.3rem;
}

.mt14 {
  margin-top: 1.4rem;
}

.mt15 {
  margin-top: 1.5rem;
}

.mt16 {
  margin-top: 1.6rem;
}

.mt17 {
  margin-top: 1.7rem;
}

.mt18 {
  margin-top: 1.8rem;
}

.mt19 {
  margin-top: 1.9rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt25 {
  margin-top: 2.5rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt35 {
  margin-top: 3.5rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt01em {
  margin-top: 0.1em;
}

.mt02em {
  margin-top: 0.2em;
}

.mt03em {
  margin-top: 0.3em;
}

.mt04em {
  margin-top: 0.4em;
}

.mt05em {
  margin-top: 0.5em;
}

.mt06em {
  margin-top: 0.6em;
}

.mt07em {
  margin-top: 0.7em;
}

.mt08em {
  margin-top: 0.8em;
}

.mt09em {
  margin-top: 0.9em;
}

.mt1em {
  margin-top: 1em;
}

.mr0 {
  margin-right: 0;
}

.mr01 {
  margin-right: 0.1rem;
}

.mr02 {
  margin-right: 0.2rem;
}

.mr03 {
  margin-right: 0.3rem;
}

.mr04 {
  margin-right: 0.4rem;
}

.mr05 {
  margin-right: 0.5rem;
}

.mr06 {
  margin-right: 0.6rem;
}

.mr07 {
  margin-right: 0.7rem;
}

.mr08 {
  margin-right: 0.8rem;
}

.mr09 {
  margin-right: 0.9rem;
}

.mr1 {
  margin-right: 1rem;
}

.mr11 {
  margin-right: 1.1rem;
}

.mr12 {
  margin-right: 1.2rem;
}

.mr13 {
  margin-right: 1.3rem;
}

.mr14 {
  margin-right: 1.4rem;
}

.mr15 {
  margin-right: 1.5rem;
}

.mr16 {
  margin-right: 1.6rem;
}

.mr17 {
  margin-right: 1.7rem;
}

.mr18 {
  margin-right: 1.8rem;
}

.mr19 {
  margin-right: 1.9rem;
}

.mr2 {
  margin-right: 2rem;
}

.mr25 {
  margin-right: 2.5rem;
}

.mr3 {
  margin-right: 3rem;
}

.mr35 {
  margin-right: 3.5rem;
}

.mr4 {
  margin-right: 4rem;
}

.mr01em {
  margin-right: 0.1em;
}

.mr02em {
  margin-right: 0.2em;
}

.mr03em {
  margin-right: 0.3em;
}

.mr04em {
  margin-right: 0.4em;
}

.mr05em {
  margin-right: 0.5em;
}

.mr06em {
  margin-right: 0.6em;
}

.mr07em {
  margin-right: 0.7em;
}

.mr08em {
  margin-right: 0.8em;
}

.mr09em {
  margin-right: 0.9em;
}

.mr1em {
  margin-right: 1em;
}

.mb0 {
  margin-bottom: 0;
}

.mb01 {
  margin-bottom: 0.1rem;
}

.mb02 {
  margin-bottom: 0.2rem;
}

.mb03 {
  margin-bottom: 0.3rem;
}

.mb04 {
  margin-bottom: 0.4rem;
}

.mb05 {
  margin-bottom: 0.5rem;
}

.mb06 {
  margin-bottom: 0.6rem;
}

.mb07 {
  margin-bottom: 0.7rem;
}

.mb08 {
  margin-bottom: 0.8rem;
}

.mb09 {
  margin-bottom: 0.9rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb11 {
  margin-bottom: 1.1rem;
}

.mb12 {
  margin-bottom: 1.2rem;
}

.mb13 {
  margin-bottom: 1.3rem;
}

.mb14 {
  margin-bottom: 1.4rem;
}

.mb15 {
  margin-bottom: 1.5rem;
}

.mb16 {
  margin-bottom: 1.6rem;
}

.mb17 {
  margin-bottom: 1.7rem;
}

.mb18 {
  margin-bottom: 1.8rem;
}

.mb19 {
  margin-bottom: 1.9rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb25 {
  margin-bottom: 2.5rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb35 {
  margin-bottom: 3.5rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb01em {
  margin-bottom: 0.1em;
}

.mb02em {
  margin-bottom: 0.2em;
}

.mb03em {
  margin-bottom: 0.3em;
}

.mb04em {
  margin-bottom: 0.4em;
}

.mb05em {
  margin-bottom: 0.5em;
}

.mb06em {
  margin-bottom: 0.6em;
}

.mb07em {
  margin-bottom: 0.7em;
}

.mb08em {
  margin-bottom: 0.8em;
}

.mb09em {
  margin-bottom: 0.9em;
}

.mb1em {
  margin-bottom: 1em;
}

.ml0 {
  margin-left: 0;
}

.ml01 {
  margin-left: 0.1rem;
}

.ml02 {
  margin-left: 0.2rem;
}

.ml03 {
  margin-left: 0.3rem;
}

.ml04 {
  margin-left: 0.4rem;
}

.ml05 {
  margin-left: 0.5rem;
}

.ml06 {
  margin-left: 0.6rem;
}

.ml07 {
  margin-left: 0.7rem;
}

.ml08 {
  margin-left: 0.8rem;
}

.ml09 {
  margin-left: 0.9rem;
}

.ml1 {
  margin-left: 1rem;
}

.ml11 {
  margin-left: 1.1rem;
}

.ml12 {
  margin-left: 1.2rem;
}

.ml13 {
  margin-left: 1.3rem;
}

.ml14 {
  margin-left: 1.4rem;
}

.ml15 {
  margin-left: 1.5rem;
}

.ml16 {
  margin-left: 1.6rem;
}

.ml17 {
  margin-left: 1.7rem;
}

.ml18 {
  margin-left: 1.8rem;
}

.ml19 {
  margin-left: 1.9rem;
}

.ml2 {
  margin-left: 2rem;
}

.ml25 {
  margin-left: 2.5rem;
}

.ml3 {
  margin-left: 3rem;
}

.ml35 {
  margin-left: 3.5rem;
}

.ml4 {
  margin-left: 4rem;
}

.ml01em {
  margin-left: 0.1em;
}

.ml02em {
  margin-left: 0.2em;
}

.ml03em {
  margin-left: 0.3em;
}

.ml04em {
  margin-left: 0.4em;
}

.ml05em {
  margin-left: 0.5em;
}

.ml06em {
  margin-left: 0.6em;
}

.ml07em {
  margin-left: 0.7em;
}

.ml08em {
  margin-left: 0.8em;
}

.ml09em {
  margin-left: 0.9em;
}

.ml1em {
  margin-left: 1em;
}

.mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mv01 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.mv02 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.mv03 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.mv04 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.mv05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mv06 {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.mv07 {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.mv08 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.mv09 {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.mv1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mv11 {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}

.mv12 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.mv13 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.mv14 {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.mv15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mv16 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.mv17 {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
}

.mv18 {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.mv19 {
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;
}

.mv2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mv25 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mv3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mv35 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.mv4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mv01em {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.mv02em {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.mv03em {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.mv04em {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.mv05em {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mv06em {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.mv07em {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.mv08em {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.mv09em {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

.mv1em {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mh0 {
  margin-right: 0;
  margin-left: 0;
}

.mh01 {
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}

.mh02 {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.mh03 {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

.mh04 {
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}

.mh05 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mh06 {
  margin-right: 0.6rem;
  margin-left: 0.6rem;
}

.mh07 {
  margin-right: 0.7rem;
  margin-left: 0.7rem;
}

.mh08 {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.mh09 {
  margin-right: 0.9rem;
  margin-left: 0.9rem;
}

.mh1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mh11 {
  margin-right: 1.1rem;
  margin-left: 1.1rem;
}

.mh12 {
  margin-right: 1.2rem;
  margin-left: 1.2rem;
}

.mh13 {
  margin-right: 1.3rem;
  margin-left: 1.3rem;
}

.mh14 {
  margin-right: 1.4rem;
  margin-left: 1.4rem;
}

.mh15 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mh16 {
  margin-right: 1.6rem;
  margin-left: 1.6rem;
}

.mh17 {
  margin-right: 1.7rem;
  margin-left: 1.7rem;
}

.mh18 {
  margin-right: 1.8rem;
  margin-left: 1.8rem;
}

.mh19 {
  margin-right: 1.9rem;
  margin-left: 1.9rem;
}

.mh2 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mh25 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.mh3 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.mh35 {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}

.mh4 {
  margin-right: 4rem;
  margin-left: 4rem;
}

.mh01em {
  margin-right: 0.1em;
  margin-left: 0.1em;
}

.mh02em {
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.mh03em {
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.mh04em {
  margin-right: 0.4em;
  margin-left: 0.4em;
}

.mh05em {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.mh06em {
  margin-right: 0.6em;
  margin-left: 0.6em;
}

.mh07em {
  margin-right: 0.7em;
  margin-left: 0.7em;
}

.mh08em {
  margin-right: 0.8em;
  margin-left: 0.8em;
}

.mh09em {
  margin-right: 0.9em;
  margin-left: 0.9em;
}

.mh1em {
  margin-right: 1em;
  margin-left: 1em;
}
