html, body {
  min-width: 320px;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  font-family: 'Exo 2', sans-serif;
}

@media (max-width: 567px) {
  html, body {
    text-align: center;
  }
}

@media (max-width: 567px) {
  .mb50 {
    margin-bottom: 30px !important;
  }
}

p, a, h1, h2, h3, h3, h4, h5, h6, strong, span {
  font-family: 'Exo 2', sans-serif;
}

small {
  font-size: 14px;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 567px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

@media (min-width: 1500px) {
  .container, .container-fluid {
    max-width: 1450px;
  }
}

section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 567px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

pre {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  font-weight: 300;
  width: auto;
  min-width: none;
  display: inline;
  max-width: 100%;
}

strong {
  font-weight: 700;
}

a {
  display: inline;
  color: #f89419;
}

a:hover {
  text-decoration: none;
  color: #ff0082;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #fff;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 80px;
  line-height: 71px;
}

@media (max-width: 567px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 64px;
}

@media (max-width: 567px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 52px;
}

@media (max-width: 567px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 32px;
}

@media (max-width: 567px) {
  h4 {
    font-size: 28px;
  }
}

h5 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
}

@media (max-width: 567px) {
  h5 {
    font-size: 24px;
  }
}

h6 {
  font-size: 16px;
  color: #ff0082;
  font-weight: 700;
}

.header_text {
  padding-bottom: 20px !important;
}

@media (max-width: 767px) {
  .header_text {
    padding-bottom: 0 !important;
    margin-bottom: -10px;
  }
}

.opacity07 {
  opacity: 0.7;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_content {
  text-align: center;
}

.hover_zoom_box {
  position: relative;
  overflow: hidden;
}

.hover_zoom_box .hover_zoom_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition-duration: 0.5s;
  transform: scale(1.02);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hover_zoom_box .hover_zoom_bg:hover {
  transition-duration: 0.5s;
  transform: scale(1.1);
}

@media (max-width: 567px) {
  .sort_box {
    margin-bottom: -30px;
  }
}

.s-hidden {
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font: normal 11px/22px Arial, Sans-Serif;
  color: black;
  border: 1px solid #ccc;
}

.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 10px 10px;
  padding-right: 25px;
  font-weight: bold;
  color: #8e8e8e;
  font-size: 13px;
  line-height: 20px;
}

.styledSelect:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  transform: rotate(45deg);
  border: 2px solid #A4A4A4;
  border-color: transparent #A4A4A4 #A4A4A4 transparent;
  position: absolute;
  top: 13px;
  right: 11px;
}

.styledSelect:active, .styledSelect.active {
  background-color: #eee;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border: 1px solid #ccc;
  background-color: white;
}

.options li {
  padding: 0 6px;
  margin: 0 0;
  padding: 10px 10px;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  color: #8e8e8e;
}

.options li:hover {
  background-color: #000;
  color: white;
}

.main_content {
  min-height: calc(100vh - 500px);
  margin-top: 80px;
  padding-bottom: 50px;
  background-color: #220f2c;
  color: #fff;
  background-image: url("img/bg-bottom.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media (max-width: 991px) {
  .main_content {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .main_content {
    padding-bottom: 0;
    background-image: none;
  }
}

#page_808.main_content {
  background-image: url("img/ludzik-bg-2.png");
  background-size: 35% auto;
  background-position: 100% 85%;
}

@media (max-width: 1400px) {
  #page_808.main_content {
    background-position: right bottom;
    background-image: url("img/ludzik-bg-2-opacity.png");
    background-size: 60% auto;
  }
}

@media (max-width: 991px) {
  #page_808.main_content {
    background-size: 80% auto;
  }
}

@media (max-width: 567px) {
  #page_808.main_content {
    background-size: 95% auto;
  }
}

#page_2.main_content {
  background-image: none;
}

.btn_pink {
  display: inline-block;
  background-image: url("img/pink-button.svg");
  width: auto;
  min-width: 200px;
  padding: 15px;
  font-weight: 700;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  outline: none;
  border: 0;
  background-color: transparent;
  transition-duration: 0.5s;
  text-align: center;
}

@media (max-width: 567px) {
  .btn_pink {
    margin: 15px auto;
  }
}

.btn_pink_arrow {
  background-image: url("img/pink-button.svg");
  width: 230px;
  padding: 15px;
  padding-top: 20px;
  font-weight: 700;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  outline: none;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
}

@media (max-width: 767px) {
  .btn_pink_arrow {
    margin: 30px auto;
  }
}

.btn_pink_arrow:after {
  display: block;
  content: '';
  background-image: url("img/strzaleczka-mala-prawo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 15px;
}

.btn_pink_arrow2 {
  background-image: url("img/pink-button.svg");
  width: 170px;
  padding: 15px;
  padding-top: 20px;
  font-weight: 700;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  outline: none;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
}

.btn_pink_arrow2:after {
  display: block;
  content: '';
  background-image: url("img/strzaleczka-mala-dol.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

@media (max-width: 567px) {
  .btn_pink_arrow2 {
    margin: 30px auto;
  }
}

.btn_orange {
  display: inline-block;
  background-image: url("img/orange-button.svg");
  width: 200px;
  max-width: 100%;
  text-align: center;
  padding: 20px;
  padding-top: 20px;
  font-weight: 700;
  color: #220f2c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  outline: none;
  border: 0;
  transition-duration: 0.2s;
  background-color: transparent;
}

@media (max-width: 567px) {
  .btn_orange {
    margin: 15px auto;
  }
}

.btn_orange_big {
  display: block;
  background-image: url("img/kup-bilet-menu.svg");
  width: 200px;
  height: 70px;
  padding: 0px;
  font-weight: 900;
  color: #220f2c;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
  outline: none;
  border: 0;
  transition-duration: 0.2s;
  background-color: transparent;
}

@media (max-width: 567px) {
  .btn_orange_big {
    margin: 30px auto;
  }
}

.arrow_left {
  display: block;
  background-image: url("img/strzalka-left-kwadrat.svg");
  width: 50px;
  height: 50px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  border: 0;
  background-color: transparent;
  margin-right: 5px;
  transition-duration: 0.2s;
}

.arrow_right {
  display: block;
  transition-duration: 0.2s;
  background-image: url("img/strzalka-right-kwadrat.svg");
  width: 50px;
  height: 50px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  border: 0;
  background-color: transparent;
  margin-left: 5px;
}

.btn_pink:hover,
.btn_orange_big:hover,
.btn_pink_arrow:hover,
.btn_pink_arrow2:hover,
.btn_orange:hover,
.arrow_left:hover,
.arrow_right:hover {
  transform: rotate(3deg);
  transition-duration: 0.2s;
}

.text_hover span {
  transition-duration: 0.5s;
}

.text_hover:hover {
  transform: rotate(0deg);
  transition-duration: 0s;
}

.text_hover:hover span {
  display: block;
  transform: rotate(3deg);
  transition-duration: 0.2s;
}

.coupon .btn_orange:hover {
  transform: rotate(-3deg) !important;
}

.arrows {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.arrows > button {
  margin-left: 5px;
  margin-right: 5px;
}

.return {
  display: flex;
  width: 140px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.return button {
  margin-right: 10px;
}

@media (max-width: 567px) {
  .return {
    margin: 0 auto;
  }
}

.play_icon {
  display: block;
  background-image: url("img/play.svg");
  width: 70px;
  height: 70px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  border: 0;
  background-color: transparent;
  transition-duration: 0.5s;
}

.play_box:hover .play_icon {
  transform: scale(1.15);
  transition-duration: 0.2s;
}

.play_icon_big {
  display: block;
  background-image: url("img/play.svg");
  width: 100px;
  height: 100px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  border: 0;
  background-color: transparent;
}

.VisualEditor h1, .VisualEditor h2, .VisualEditor h3, .VisualEditor h4, .VisualEditor h5, .VisualEditor h6 {
  margin-bottom: 30px;
}

.glass_down {
  position: relative;
}

.glass_down:before {
  display: block;
  z-index: 2;
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(180deg, transparent 0%, #000000 100%);
}

.glass_full {
  display: block;
  z-index: 2;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: #000000;
  opacity: 0.6;
}

.glass_up {
  position: relative;
}

.glass_up:before {
  display: block;
  z-index: 2;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, transparent 0%, #000000 100%);
}

.film_box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-image: url("img/play.svg");
  background-repeat: no-repeat;
  background-position: center 40%;
}

@media (max-width: 567px) {
  .film_box {
    position: static;
    height: 60px;
    margin-bottom: 15px;
    background-size: contain;
  }
}

.tiles {
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 40px;
  padding-left: 30px;
  background-position: center;
  background-size: cover;
  transition-duration: 0.5s;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 567px) {
  .tiles {
    padding: 15px;
    padding-bottom: 30px;
    min-height: 250px;
  }
}

.tiles h5 {
  z-index: 3;
}

.tiles .bg_container {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tiles .bg_box {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background-position: center;
  background-size: cover;
  transition-duration: 0.5s;
}

.tiles:hover .bg_box {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.border_img {
  height: 20px;
  max-width: 100%;
  margin-top: -20px;
  position: absolute;
  z-index: 5;
  bottom: -10px;
  left: 15px;
  max-width: calc(100% - 30px);
  min-width: calc(100% - 30px);
}

.tiles_pink_border h6 {
  z-index: 3;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}

.tiles_pink_border:after {
  background-image: url("img/linia-rozowa.svg");
}

.tiles_orange_border {
  min-height: 440px;
  text-align: center;
  padding-left: 12%;
  padding-right: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiles_orange_border h3 {
  z-index: 3;
}

.tiles_orange_border h5 {
  font-weight: 500;
  margin-top: 15px;
}

.tiles_orange_border:after {
  background-image: url("img/linia-zolta.svg");
  background-size: left;
  background-position: center;
}

.tiles_catalog_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tiles_catalog_box .glass_up:before {
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
}

@media (max-width: 567px) {
  .tiles_catalog_box {
    margin-bottom: 30px;
  }
}

.tiles_catalog {
  min-height: 430px;
  max-width: 600px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 15px;
  background-position: center;
  background-size: cover;
  transition-duration: 0.5s;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
}

@media (min-width: 1500px) {
  .tiles_catalog {
    min-height: 500px;
  }
}

@media (max-width: 567px) {
  .tiles_catalog {
    padding-left: 15px;
  }
}

.tiles_catalog .bg_container {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tiles_catalog .bg_box {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-position: center;
  background-size: cover;
  transition-duration: 0.5s;
}

.tiles_catalog:hover .bg_box {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.tiles_catalog h6 {
  z-index: 6;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.tiles_catalog h5 {
  z-index: 6;
}

.watch_movie {
  margin-top: 15px;
  display: flex;
  max-width: 600px;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
}

.watch_movie button {
  margin-right: 15px;
}

.watch_movie .btn_pink {
  min-width: 180px;
}

@media (max-width: 567px) {
  .watch_movie .btn_pink {
    margin-top: 0px;
    margin-bottom: 0;
  }
}

.watch_movie .play_icon {
  width: 35px;
  height: 30px;
  margin-right: 15px;
}

@media (max-width: 991px) {
  .watch_movie .play_icon {
    margin-right: 0;
  }
}

.watch_movie .play_box {
  display: flex;
  cursor: pointer;
}

@media (max-width: 767px) {
  .watch_movie .play_box {
    margin-right: 7%;
  }
}

@media (min-width: 1400px) {
  .watch_movie .play_box {
    margin-right: 5%;
  }
}

@media (min-width: 1700px) {
  .watch_movie .play_box {
    margin-right: 7%;
  }
}

.watch_movie .play_box span {
  margin-right: 10px;
}

.watch_movie .play_box:hover span {
  color: #ff0082;
}

#main-menu2 #navigation-container nav.navbar #navbarNav ul#menu-menu-glowne
li:nth-child(8) a {
  color: #35153F !important;
}

@media (min-width: 1420px) {
  #main-menu2 #navigation-container nav.navbar #navbarNav ul#menu-menu-glowne
li:nth-child(8) {
    margin-right: 20px;
    margin-left: 15px;
  }
}

#menu-menu-glowne li:nth-child(8) {
  background-image: url("img/kup-bilet-menu.svg");
  margin-bottom: -10px;
  font-weight: 900;
  background-repeat: no-repeat;
  background-size: cover;
  width: 143px;
  height: 85px;
}

#menu-menu-glowne li:nth-child(8) a {
  color: #35153F !important;
  font-weight: 900;
  font-size: 20px;
  padding-top: 0;
}

#menu-menu-glowne li:nth-child(8) a:hover {
  transition-duration: 0.3s;
  transform: rotate(3deg);
}

.facebook_icon {
  background-image: url("img/Fejs-menu.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 35px;
  margin-right: 5px;
}

.facebook_icon:hover {
  background-image: url("img/fb-hov.svg");
}

#main-menu2 #navigation-container nav.navbar {
  background-color: #35153F !important;
}

#menu-menu-glowne li:nth-child(1),
#menu-menu-glowne li:nth-child(2),
#menu-menu-glowne li:nth-child(3) {
  background-color: #5b3268 !important;
}

.current-menu-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200% auto;
}

.current-menu-item a {
  color: #fff !important;
  position: relative;
  z-index: 2;
}

.current-menu-item a:after {
  transform: rotate(-2deg);
  background-color: #ff0082;
  display: block;
  content: '';
  height: 35px;
  z-index: -1;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-size: 100% auto;
  background-position: left top;
}

@media (min-width: 1400px) {
  #main-menu2 #navigation-container {
    background-color: #35153F;
  }
  #main-menu2 #navigation-container nav.navbar {
    height: 80px;
    width: 98vw;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
  }
}

@media (min-width: 1400px) and (min-width: 1435px) {
  #main-menu2 #navigation-container nav.navbar .navbar-brand:first-child {
    padding-left: 20px;
  }
}

@media (min-width: 1400px) {
  #main-menu2 #navigation-container nav.navbar .navbar-brand img {
    max-width: none;
    max-height: 80px;
  }
  #main-menu2 #navigation-container nav.navbar #navbarNav {
    max-width: none;
    padding-right: 5px;
  }
  #main-menu2 #navigation-container nav.navbar #navbarNav ul#menu-menu-glowne {
    height: 80px;
    margin: 0;
    padding: 0;
  }
  #main-menu2 #navigation-container nav.navbar #navbarNav ul#menu-menu-glowne li {
    margin: 0;
    padding: 0px 6px;
  }
  #main-menu2 #navigation-container nav.navbar #navbarNav ul#menu-menu-glowne li a {
    font-weight: 700;
    padding: 5px;
    color: #fff !important;
  }
}

@media (min-width: 1400px) and (min-width: 1400px) {
  #main-menu2 #navigation-container nav.navbar #navbarNav ul#menu-menu-glowne #menu-menu-glowne li:nth-child(1) {
    padding-left: 20px;
  }
  #main-menu2 #navigation-container nav.navbar #navbarNav ul#menu-menu-glowne #menu-menu-glowne li:nth-child(3) {
    padding-right: 20px;
  }
  #main-menu2 #navigation-container nav.navbar #navbarNav ul#menu-menu-glowne #menu-menu-glowne li:nth-child(4) {
    padding-left: 20px;
  }
}

@media (max-width: 1399px) {
  .facebook_icon {
    display: none;
  }
  .navbar {
    height: 80px;
    justify-content: flex-start;
  }
  .menu-menu-glowne-container {
    width: 100vw;
    background-color: #35153F;
  }
  .navbar li, .collapsing li {
    background-color: #35153F;
    border: 0px;
    height: 10%;
  }
  .navbar li a, .collapsing li a {
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 26px !important;
  }
  .navbar li a:hover, .collapsing li a:hover {
    color: #fff !important;
  }
  .navbar-brand2 {
    display: none;
  }
  .navbar #menu-menu-glowne {
    display: flex;
    flex-direction: column;
  }
  .navbar #menu-menu-glowne li:hover,
  .navbar #menu-menu-glowne li.current-menu-item {
    background-color: none !important;
  }
  .navbar #menu-menu-glowne li:hover a,
  .navbar #menu-menu-glowne li.current-menu-item a {
    width: auto !important;
  }
  .navbar #menu-menu-glowne li:hover a:after,
  .navbar #menu-menu-glowne li.current-menu-item a:after {
    height: 50px;
    z-index: -1;
    width: 220px;
    bottom: 47%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  #menu-menu-glowne li:nth-child(8) {
    width: 80%;
    max-width: 260px;
    margin: 0 auto;
    order: 10;
  }
}

@media (max-width: 470px) {
  .navbar img {
    width: 70px;
  }
}

.lang-box {
  position: relative;
  width: 70px;
  height: 30px;
  margin-right: 15px;
}

.lang-box .wpm-language-switcher {
  position: absolute;
  left: 0;
  width: 35px;
  display: flex;
}

.lang-box .wpm-language-switcher li {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.lang-box .wpm-language-switcher li:first-child {
  margin-right: 5px;
}

.wpm-language-switcher li > a,
.wpm-language-switcher li > span {
  display: block;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 35px;
  cursor: pointer;
}

.wpm-language-switcher li > a span,
.wpm-language-switcher li > span span {
  display: none;
}

.wpm-language-switcher li > a img,
.wpm-language-switcher li > span img {
  display: none;
}

.item-language-pl span {
  background-image: url("img/PL-menu.svg");
}

.item-language-pl a {
  background-image: url("img/PL-menu-non.svg");
}

.item-language-en span {
  background-image: url("img/eng-icon.svg");
}

.item-language-en a {
  background-image: url("img/eng-icon-non.svg");
}

@media (max-width: 1399px) {
  .wpm-language-switcher li > a,
  .wpm-language-switcher li > span {
    width: 45px !important;
    height: 40px !important;
  }
  .lang-box {
    position: absolute;
    right: 95px;
    top: 20px;
  }
  .lang-box li {
    border: none;
  }
}

footer {
  background-image: url("img/stopka-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0 !important;
  font-weight: 300;
}

@media (max-width: 767px) {
  footer {
    background-color: #000 !important;
    background-image: none;
  }
}

footer h6 {
  color: #fff;
  line-height: 26px;
}

footer p {
  font-size: 14px;
  line-height: 26px;
  color: #9B9B9B;
}

footer a {
  display: inline-block;
}

footer small {
  color: #fff;
  font-weight: 500;
}

footer .social_icon {
  display: flex;
}

footer .social_icon a.icon {
  margin-right: 7px;
  display: block;
  width: 35px;
  height: 30px;
  background-size: contain;
  background-position: center;
  transition-duration: 0.3s;
}

footer .social_icon a.icon:hover {
  transition-duration: 0.3s;
}

footer .social_icon a.icon.fb_icon {
  background-image: url("img/fb-stopka.svg");
}

footer .social_icon a.icon.yt_icon {
  background-image: url("img/yt-stopka.svg");
}

footer .social_icon a.icon.ms_icon {
  background-image: url("img/myspace-stopka.svg");
}

footer .social_icon a.icon.fb_icon:hover {
  background-image: url("img/fb-stopka-hov.svg");
}

footer .social_icon a.icon.yt_icon:hover {
  background-image: url("img/yt-stopka-hov.svg");
}

footer .social_icon a.icon.ms_icon:hover {
  background-image: url("img/myspace-stopka-hov.svg");
}

footer #copyright {
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 0 !important;
  color: #9B9B9B !important;
}

footer #copyright > div::before {
  display: none !important;
}

footer .full_border {
  border-top: 1px solid #404040;
}

footer #col1 > * {
  max-width: 270px;
}

footer #col1 small {
  margin-top: 15px;
  display: block;
}

footer #col3 > * {
  max-width: 320px;
}

@media (max-width: 767px) {
  footer .column_content > div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

#home_slider {
  min-height: calc(100vh - 80px);
  position: relative;
  background-color: #220f2c;
}

#home_slider .people_box {
  background-image: url("img/ludzik-header.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center left;
  height: 100%;
  width: 65%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

@media (max-width: 991px) {
  #home_slider .people_box {
    background-position: right;
    display: none;
    background-image: none;
  }
}

#home_slider .content_box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 70%;
  z-index: 1;
}

@media (max-width: 991px) {
  #home_slider .content_box {
    width: 100%;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#home_slider .content_box .slide_item {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition-duration: 0.5s;
  align-items: flex-end;
  padding-bottom: 20%;
}

@media (max-width: 991px) {
  #home_slider .content_box .slide_item {
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
}

#home_slider .content_box .slide_item .gradient_box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(180deg, transparent 0%, #220f2c 100%);
}

@media (max-width: 991px) {
  #home_slider .content_box .slide_item .gradient_box {
    background: none;
    background-color: rgba(0, 0, 0, 0.55);
  }
}

#home_slider .content_box .slide_item .title_box {
  z-index: 5;
  right: 0px;
  bottom: calc(15% + 140px);
  position: absolute;
  width: 40%;
  padding-right: 100px;
}

@media (max-width: 1300px) {
  #home_slider .content_box .slide_item .title_box {
    padding-right: 15px;
  }
}

@media (min-width: 1700px) {
  #home_slider .content_box .slide_item .title_box {
    width: 45%;
  }
}

@media (max-width: 991px) {
  #home_slider .content_box .slide_item .title_box {
    width: 100%;
    bottom: 35%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}

#home_slider .content_box .slide_item .title_box h6 {
  font-size: 20px;
  color: #fff;
  line-height: 24px;
  margin-bottom: 5px;
  font-weight: 300;
}

#home_slider .content_box .slide_item.active_slide {
  opacity: 1;
  transition-duration: 0.5s;
}

#home_slider .content_box .navigator {
  position: absolute;
  width: 40%;
  bottom: 15%;
  right: 0;
  z-index: 5;
}

@media (min-width: 1700px) {
  #home_slider .content_box .navigator {
    width: 45%;
  }
}

@media (max-width: 991px) {
  #home_slider .content_box .navigator {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 10%;
  }
}

#home_slider .content_box .navigator .arrows {
  margin-top: 15px;
}

#home_slider .content_box img.logo {
  z-index: 5;
  position: absolute;
  bottom: 15%;
  right: 45%;
}

@media (max-width: 991px) {
  #home_slider .content_box img.logo {
    display: none;
  }
}

@media (max-width: 1400px) {
  #home_slider .content_box img.logo {
    width: 30%;
  }
}

@media (min-width: 1700px) {
  #home_slider .content_box img.logo {
    right: 48%;
  }
}

#home_slider .content_box img.logo_mobile {
  display: block;
  z-index: 5;
  position: relative;
  margin: 30px auto;
}

@media (min-width: 992px) {
  #home_slider .content_box img.logo_mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .adver_contaner {
    display: none;
  }
}

.adver_box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  padding: 50px;
}

@media (max-width: 991px) {
  .adver_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.adver_box .adver_content, .adver_box .btn_pink {
  z-index: 2;
  position: relative;
}

.adver_box h6 {
  font-weight: 300;
  color: #fff;
  margin-bottom: 15px;
  font-size: 20px;
}

#page_2 .tiles {
  margin-top: -10px;
}

#news-body .header_box .row > div {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  #news-body .header_box .row > div {
    flex-direction: column;
  }
}

#news-body h4 {
  font-weight: 900;
}

#news-body.medianewes_body {
  background-image: url("img/ludzik-bg.png");
  background-size: 45% auto;
  background-position: top left;
}

@media (max-width: 991px) {
  #news-body.medianewes_body {
    background-image: url("img/ludzik-bg-opacity.png");
    background-size: 80% auto;
  }
}

#news-body.normalnews_body .foto_list_box {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#news-body.normalnews_body img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 991px) {
  #news-body.normalnews_body img {
    width: 70vw;
  }
}

@media (max-width: 567px) {
  #news-body.normalnews_body img {
    width: auto;
  }
}

@media (min-width: 768px) {
  #news-body.film_news {
    padding-bottom: 0;
  }
}

#medianews_list .medianews_box {
  padding-top: 60px;
}

#medianews_list .medianews_box:after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  content: '';
  display: block;
  width: 100%;
  margin-top: 60px;
}

#medianews_list .medianews_box:last-child:after {
  display: none;
}

#medianews_list .medianews_box .row > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide_box {
  display: none;
}

#hide_box {
  display: none;
}

#more {
  z-index: 99;
}

@media (max-width: 991px) {
  #kontakt-content2 {
    text-align: center;
  }
}

#kontakt-content2 #map {
  min-height: 300px;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  #kontakt-content2 #map {
    margin-top: 30px;
    min-height: 500px;
  }
}

#kontakt-content2 .add_content {
  margin-top: 80px;
}

@media (max-width: 991px) {
  #kontakt-content2 .add_content {
    margin-top: 30px;
  }
  #kontakt-content2 .add_content > .row > div {
    margin-bottom: 70px;
  }
}

#kontakt-content2 .add_content h5 {
  color: #ff0082;
  margin-bottom: 15px;
}

#kontakt-content2 p {
  margin: 0;
  padding: 0;
  min-height: 26px;
  font-weight: 500;
}

@media (max-width: 567px) {
  .carousel_section {
    text-align: center !important;
  }
}

.carousel_section button {
  display: none !important;
}

.carousel_section .slide_item {
  opacity: 0.5;
  transition-duration: 0.3s;
  margin-left: 30px;
  padding-right: 30px;
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.carousel_section .slide_item img {
  max-height: 60px;
}

.carousel_section .slide_item:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

#carousel1 {
  padding-top: 0;
  text-align: left;
}

#carousel1 #car1 {
  margin-top: 70px;
}

@media (max-width: 567px) {
  #carousel1 #car1 {
    margin-top: 30px;
  }
}

#carousel2 {
  padding-top: 0;
  text-align: left;
}

#carousel2 #car2 {
  margin-top: 70px;
}

@media (max-width: 567px) {
  #carousel2 #car2 {
    margin-top: 30px;
  }
}

.program_item_box {
  display: flex;
  background-color: #fff;
  color: #000;
  margin-bottom: 30px;
  justify-content: flex-start;
  align-items: stretch;
}

@media (max-width: 767px) {
  .program_item_box {
    flex-direction: column;
    max-width: 500px;
    margin: 15px auto;
  }
  .program_item_box > div {
    width: 100% !important;
    text-align: center !important;
    align-items: center !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border: 1px solid #DDDDDD;
  }
}

.program_item_box > div {
  border-right: 1px solid #DDDDDD;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  flex-direction: column;
  font-weight: 500;
}

.program_item_box .time_box {
  width: 14%;
  background-color: #ff0082;
  color: #fff;
  font-weight: 700;
  border: 0;
  text-align: center;
  padding: 15px;
}

.program_item_box .time_box p {
  margin: 0;
  padding: 0;
}

.program_item_box .time_box h3 {
  line-height: 52px;
}

@media (max-width: 767px) {
  .program_item_box .time_box {
    flex-direction: row;
    padding-bottom: 20px !important;
  }
  .program_item_box .time_box h3 {
    margin-right: 15px;
  }
}

.program_item_box .foto_box {
  width: 16%;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .program_item_box .foto_box {
    height: 120px;
    width: 100%;
  }
}

.program_item_box .title_box {
  width: 25%;
  align-items: flex-start;
}

.program_item_box .title_box strong {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.program_item_box .title_box p {
  margin-bottom: 0;
}

.program_item_box .address_box {
  width: 25%;
  align-items: flex-start;
}

.program_item_box .address_box strong {
  font-weight: 500;
}

.program_item_box .address_box p {
  margin-bottom: 0;
}

.program_item_box .price_box {
  width: 20%;
}

@media (max-width: 991px) {
  .program_item_box .price_box .btn_orange {
    width: 135px;
  }
}

@media (max-width: 767px) {
  .program_item_box .price_box .btn_orange {
    margin: 0;
    width: 200px;
  }
}

.legend_box {
  display: flex;
}

.legend_box p {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  padding-left: 15px;
}

.legend_box p:nth-child(1) {
  width: 14%;
}

.legend_box p:nth-child(2) {
  width: 41%;
}

.legend_box p:nth-child(3) {
  width: 25%;
}

.legend_box p:nth-child(4) {
  width: 20%;
}

@media (max-width: 767px) {
  .legend_box {
    display: none;
  }
}

#newslist {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  display: grid;
  margin-right: -30px;
  margin-left: -30px;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 991px) {
  #newslist {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  #newslist {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 567px) {
  #newslist {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#newslist .tiles_box {
  margin: 15px;
  position: relative;
}

@supports not (display: grid) {
  #newslist .tiles_box {
    width: 30%;
    border: 1px solid #fff;
  }
  @media (max-width: 991px) {
    #newslist .tiles_box {
      width: calc(50% - 30px);
    }
  }
  @media (max-width: 768px) {
    #newslist .tiles_box {
      width: calc(100% - 30px);
    }
  }
}

@media (max-width: 567px) {
  #newslist .tiles_box {
    margin-bottom: 5px;
  }
}

#newslist .tiles_box img.border_img {
  left: 0;
  max-width: 100%;
  min-width: 100%;
}

@media (min-width: 992px) {
  @supports (display: grid) {
    #newslist .tiles_box:nth-child(1) {
      grid-column: 1 / span 2;
      grid-row: span 2;
    }
    #newslist .tiles_box:nth-child(1) .tiles {
      min-height: 730px;
    }
  }
}

#newslist #paginate {
  bottom: -80px;
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 767px) {
  #newslist #paginate {
    position: static;
    margin-top: 30px;
  }
}

#newslist #paginate span {
  color: #ff0082;
  font-size: 20px;
  padding: 10px;
}

#newslist #paginate a {
  padding: 10px;
  font-size: 16px;
}

#newslist #paginate .prev, #newslist #paginate .next {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 0px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  border: 0;
  margin: 0px 15px;
  background-color: transparent;
  margin-right: 5px;
  text-indent: -9999px;
  transition-duration: 0.5s;
}

#newslist #paginate .prev:hover, #newslist #paginate .next:hover {
  transition-duration: 0.5s;
  transform: rotate(-3deg);
}

#newslist #paginate .prev {
  background-image: url("img/strzalka-left-kwadrat.svg");
}

#newslist #paginate .next {
  background-image: url("img/strzalka-right-kwadrat.svg");
}

#page_611 form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 991px) {
  #page_611 form {
    justify-content: flex-start;
    margin-top: 30px;
  }
}

@media (max-width: 567px) {
  #page_611 form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#page_611 form > * {
  margin-right: 10px;
}

#page_611 form .filter {
  display: flex;
  align-items: center;
}

#page_611 form .filter span {
  margin-right: 10px;
}

#page_611 form .select {
  height: 40px;
  width: 140px;
}

@media (max-width: 567px) {
  #page_611 form .btn_pink {
    margin: 15px auto;
  }
}

.single_spectacle {
  margin-bottom: -70px;
}

.single_spectacle .header {
  min-height: 550px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

@media (min-width: 1600px) {
  .single_spectacle .header {
    height: 700px;
  }
}

.single_spectacle .header h4 {
  font-weight: 500;
  z-index: 10;
  position: relative;
  max-width: 80%;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .single_spectacle .header h4 {
    max-width: 75%;
  }
}

@media (max-width: 567px) {
  .single_spectacle .header h4 {
    margin-top: 10px;
  }
}

@media (min-width: 1700px) {
  .single_spectacle .header h4 {
    max-width: 60%;
  }
}

.single_spectacle .header h2 {
  z-index: 10;
  max-width: 80%;
  text-align: center;
}

@media (max-width: 767px) {
  .single_spectacle .header h2 {
    max-width: 75%;
  }
}

@media (min-width: 1700px) {
  .single_spectacle .header h2 {
    max-width: 60%;
  }
}

.single_spectacle .main_spectacle_content {
  display: flex;
}

@media (max-width: 767px) {
  .single_spectacle .main_spectacle_content {
    flex-direction: column;
  }
}

.single_spectacle .main_spectacle_content .left_column {
  width: 35%;
  background-color: #000;
  text-align: left;
}

@media (max-width: 767px) {
  .single_spectacle .main_spectacle_content .left_column {
    width: 100%;
    text-align: center;
  }
}

.single_spectacle .main_spectacle_content .right_column {
  width: 65%;
  background-color: #fff;
  color: #000;
}

@media (max-width: 767px) {
  .single_spectacle .main_spectacle_content .right_column {
    width: 100%;
  }
}

.single_spectacle .main_spectacle_content .right_column h1, .single_spectacle .main_spectacle_content .right_column h2, .single_spectacle .main_spectacle_content .right_column h3, .single_spectacle .main_spectacle_content .right_column h4, .single_spectacle .main_spectacle_content .right_column h5, .single_spectacle .main_spectacle_content .right_column h6 {
  color: #000;
}

.single_spectacle .info_box1 {
  padding-left: 20%;
  background-color: #35153F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .single_spectacle .info_box1 {
    padding: 0;
    padding-top: 50px;
  }
  .single_spectacle .info_box1 a {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: -30px;
  }
}

@media (min-width: 1600px) {
  .single_spectacle .info_box1 {
    padding-left: 30%;
  }
}

.single_spectacle .info_box1 h4 {
  font-weight: 900;
}

.single_spectacle .info_box1 h5 {
  font-weight: 300;
}

.single_spectacle .info_box2 {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 1600px) {
  .single_spectacle .info_box2 {
    padding-left: 30%;
  }
}

@media (max-width: 767px) {
  .single_spectacle .info_box2 {
    display: none;
  }
}

.single_spectacle .info_box2 p {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.9;
}

.single_spectacle .info_box2 h6 {
  font-size: 14px;
  line-height: 20px;
}

.single_spectacle .info_box2 h1, .single_spectacle .info_box2 h2, .single_spectacle .info_box2 h3, .single_spectacle .info_box2 h4, .single_spectacle .info_box2 h4, .single_spectacle .info_box2 h6 {
  color: #ff0082;
}

.single_spectacle .pad_std {
  padding: 70px;
  max-width: 1050px;
}

@media (max-width: 767px) {
  .single_spectacle .pad_std {
    padding: 50px 30px;
    padding-bottom: 20px;
  }
}

@media (max-width: 567px) {
  .single_spectacle .pad_std {
    padding: 50px 15px;
    padding-bottom: 20px;
  }
}

.single_spectacle .intro_box h5 {
  font-weight: 500;
}

@media (max-width: 767px) {
  .single_spectacle .intro_box {
    padding-bottom: 50px;
  }
}

.single_spectacle .review_box {
  max-width: 1050px;
}

#prgrm_double_slider .carousel-item > div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 50%;
  float: left;
}

@media (min-width: 1600px) {
  #prgrm_double_slider .carousel-item > div {
    height: 430px;
  }
}

@media (max-width: 991px) {
  #prgrm_double_slider .carousel-item > div {
    width: 100%;
    float: none;
    text-outline: 50px;
  }
}

#prgrm_double_slider .arrows {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  #prgrm_double_slider .arrows {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.content_video_box {
  position: relative;
}

.content_video_box .title, .content_video_box img {
  z-index: 2;
}

.content_video_box img.player_icon {
  width: 100px;
}

@media (max-width: 567px) {
  .content_video_box img.player_icon {
    width: 50px;
  }
}

.content_video_box img.logo {
  height: 245px;
  width: 365px;
  margin-top: -70px;
}

@media (max-width: 1700px) {
  .content_video_box img.logo {
    width: 25%;
    height: auto;
  }
}

@media (max-width: 991px) {
  .content_video_box img.logo {
    width: 40%;
    height: auto;
  }
}

.content_video_box img.logo_mobile {
  width: 40%;
  margin-top: 30px;
}

.content_video_box img.play {
  height: 90px;
  width: 40px;
  margin-left: -30px;
}

@media (max-width: 1700px) {
  .content_video_box img.play {
    width: 7%;
    height: auto;
  }
}

@media (max-width: 991px) {
  .content_video_box img.play {
    width: 10%;
    height: auto;
  }
}

@media (max-width: 567px) {
  .content_video_box img.play {
    width: 15%;
    margin-left: 0;
  }
}

.content_video_box video {
  width: 65vw;
  height: 100%;
  position: relative;
  z-index: 0;
}

@media (max-width: 767px) {
  .content_video_box video {
    width: 100vw;
    height: auto;
  }
}

.content_video_box .starter_film {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

@media (max-width: 567px) {
  .content_video_box .starter_film {
    flex-direction: column;
  }
}

video::-webkit-media-controls-overlay-play-button {
  display: none !important;
}

.stoper_film {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  bottom: 50px;
  z-index: 888;
}

.content_video_box.header_box {
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 567px) {
  .content_video_box.header_box {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.content_video_box.header_box img.play {
  width: 90px;
}

.content_video_box.header_box video {
  width: 100vw;
  height: auto;
  min-height: 240px;
}

@media (max-width: 700px) {
  .content_video_box.header_box video {
    width: 100vw;
    height: auto;
  }
}

.content_video_box.header_box.header_title_box .starter_film {
  padding-top: 5%;
  align-items: flex-start;
}

.content_video_box.header_box.header_title_box .starter_film h4 {
  font-weight: 900;
}

.content_video_box.header_box.header_title_box img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 567px) {
  .content_video_box.header_box.header_title_box img {
    position: static;
    margin: 30px auto;
    transform: none;
  }
}

.download_section {
  background-color: #35153F;
}

.download_section .download_box {
  position: relative;
  margin-left: 20%;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media (max-width: 567px) {
  .download_section .download_box {
    margin-left: 55px;
  }
}

.download_section .download_box h6 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}

.download_section .download_box:before {
  display: block;
  content: '';
  width: 15%;
  height: 80px;
  background-image: url("img/pressroom/download.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: -25%;
  top: -20px;
}

@media (max-width: 567px) {
  .download_section .download_box:before {
    left: -25px;
  }
}

#page_802.main_content {
  background-image: none;
  padding-bottom: 0;
}

#page_802.main_content .more_contact {
  background-image: url("img/bg-bottom.jpg");
}

#page_802.main_content .more_contact h1, #page_802.main_content .more_contact h2, #page_802.main_content .more_contact h3, #page_802.main_content .more_contact h4, #page_802.main_content .more_contact h5, #page_802.main_content .more_contact h6 {
  margin-bottom: 30px;
}

#page_802.main_content .more_contact .small h6 {
  font-weight: 700;
  color: #fff;
}

#page_802.main_content .more_contact .small p {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

#page_802.main_content .more_contact .small p strong {
  font-weight: 500;
}

#page_802.main_content .more_contact .small a {
  color: #ff0082 !important;
  font-size: 12px;
}

.light_box_film {
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light_box_film .full_glass {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.light_box_film .close_button {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  background-image: url("img/x.svg");
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: contain;
}

.change_post_box {
  display: inline-flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 340px;
  position: fixed;
  top: 70%;
  z-index: 100;
}

@media (max-width: 767px) {
  .change_post_box {
    display: none;
  }
}

.change_post_box .icon {
  z-index: 2;
  width: 30px;
  height: 70px;
  background-color: #ff0082;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 0 #00000069;
}

.change_post_box .foto {
  z-index: 2;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 4px 0 #00000069;
}

.change_post_box .title {
  box-shadow: 0 2px 4px 0 #00000069;
  color: #4A4A4A;
  padding: 5px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 240px;
  height: 70px;
  background-color: #fff;
  z-index: 0;
  margin-left: -240px;
  transition-duration: 0.3s;
}

@media (max-width: 991px) {
  .change_post_box .title {
    display: none;
  }
}

.change_post_box .title p {
  max-height: 50px;
  overflow: hidden;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.prev_post .title {
  margin-left: -240px;
}

.prev_post:hover .title {
  margin-left: 0;
  transition-duration: 0.3s;
}

.next_post {
  right: 0;
  justify-content: flex-end;
}

.next_post .title {
  margin-right: -240px;
}

.next_post:hover .title {
  margin-right: 0;
  transition-duration: 0.3s;
}

.coupon {
  padding: 0;
}

.coupon h5 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .coupon h5 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .coupon {
    text-align: center;
    margin-top: -30px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .coupon .row > div:last-child {
    padding-right: 30px;
  }
}

.coupon .buttons {
  display: flex;
}

@media (max-width: 767px) {
  .coupon .buttons {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .coupon .buttons .btn_orange {
    margin: 0 auto;
  }
}

@media (min-width: 767px) {
  .coupon .buttons .btn_orange:first-child {
    margin-right: 20px;
  }
}

.coupon .buttons a:last-child .btn_orange {
  transform: rotate(2deg);
}

#anhor_tiles {
  position: absolute;
  margin-top: -30px;
}

.festiwal_section_content1 {
  margin-bottom: -30px;
}

.festiwal_section_content1 h1, .festiwal_section_content1 h2, .festiwal_section_content1 h3, .festiwal_section_content1 h4, .festiwal_section_content1 h5, .festiwal_section_content1 h5 {
  margin-bottom: 15px;
}

.festiwal_section_content1 h1 span, .festiwal_section_content1 h2 span, .festiwal_section_content1 h3 span, .festiwal_section_content1 h4 span, .festiwal_section_content1 h5 span, .festiwal_section_content1 h5 span {
  color: #f89419;
}

.festiwal_section_content1 .middle_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
