html, body {
  font-size: 16px;
  font-weight: 300;
  min-width: 300px;
  overflow-x: hidden;
  color: #4A4A4A;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 567px) {
  html, body {
    text-align: center;
  }
}

.btn {
  background-color: #33AB64;
  color: #3E3E47;
  font-weight: bold;
}

.btn:hover {
  color: #fff;
}

section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

a {
  display: inline;
  color: #3E3E47;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

@media (max-width: 567px) {
  h1 {
    font-size: 46px;
  }
}

h2 {
  margin-bottom: 20px;
  font-weight: 300;
  font-weight: 36px;
}

.h2_box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 567px) {
  .h2_box {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.h2_box img {
  margin-right: 20px;
  width: 89px;
  height: 89px;
}

@media (max-width: 567px) {
  .h2_box img {
    margin: 0 !important;
    margin-bottom: 20px !important;
  }
}

.h2_box h2 {
  margin-bottom: -40px;
}

@media (max-width: 567px) {
  .h2_box h2 {
    margin: 0 !important;
  }
}

.center_content .h2_box {
  flex-direction: column;
}

.center_content .h2_box img {
  margin-right: 0;
  margin-bottom: 20px;
}

.center_content .h2_box h2 {
  margin-bottom: 20px;
}

.right_content {
  text-align: right;
}

@media (max-width: 567px) {
  .right_content {
    text-align: center;
  }
}

.right_content .h2_box {
  justify-content: flex-end;
}

@media (max-width: 567px) {
  .right_content .h2_box {
    flex-direction: column-reverse;
  }
}

.right_content .h2_box img {
  margin-left: 20px;
  margin-right: 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h5 {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 15px;
}

h6 {
  color: #33AB64;
  font-weight: 700;
}

.dark_bg {
  color: #fff;
}

.dark_bg a {
  color: #fff;
  font-weight: 700;
}

.flex_center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.center_content {
  text-align: center;
}

@media (min-width: 991px) {
  .center_content {
    padding-bottom: 10%;
  }
}

.center_content h2:after {
  margin-left: 50%;
  transform: translateX(-50%);
}

#anchor_inw {
  margin-top: -20px;
  margin-bottom: 20px;
}

.watermark_bg {
  background-size: 100% auto;
  background-position: top;
}

.button_std {
  min-height: 45px;
  min-width: 200px;
  border-radius: 22.5px;
  border: 0;
  outline: none;
  color: #fff;
  transition-duration: 0.3s;
  border: 0px;
  outline: none;
  height: 45px;
  background: linear-gradient(210.65deg, #C8B525 0%, #2FAB66 100%);
}

.button_std span {
  position: relative;
}

.button_std::before {
  opacity: 0;
  border: 0px;
  outline: none;
  transition-duration: 0.3s;
  display: block;
  z-index: 0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  border-radius: 22.5px;
  content: '';
  transition-duration: 0.2s;
  background: linear-gradient(50deg, #b09e13 0%, #1a8449 100%);
}

.button_std:hover::before {
  transition-duration: 0.2s;
  opacity: 1;
}

.animate {
  opacity: 0;
}

.animation-target {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#contact_widget {
  position: fixed;
  right: 0px;
  top: 150px;
  z-index: 999;
  height: 200px;
  width: 50px;
  font-weight: bold;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  line-height: 15px;
  vertical-align: middle;
  min-width: auto;
}

@media (max-width: 650px) {
  #contact_widget {
    display: none;
  }
}

#contact_widget img {
  z-index: 999;
  position: absolute;
  top: 25px;
  left: 14px;
}

#contact_widget span {
  transform: rotate(90deg);
  display: block;
  position: absolute;
  top: 125px;
  left: -45px;
  display: block;
  height: 20px;
  width: 146px;
}

#contact_widget::before {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition-duration: 0.2s;
}

#contact_widget:hover {
  cursor: pointer;
}

#navigation-container {
  background-color: #fff;
}

#navigation-container .fb_menu_link {
  margin-right: 20px;
  margin-left: -20px;
  margin-bottom: -5px;
}

#navigation-container .navbar-brand img {
  width: 222px;
  height: auto;
  max-width: none;
  max-height: none;
}

@media (max-width: 1099px) {
  #navigation-container .navbar-brand img {
    width: 180px;
  }
}

#navigation-container .navbar {
  background-color: #fff;
}

@media (min-width: 992px) and (max-width: 1440px) {
  #navigation-container .navbar #menu-menu-glowne li {
    margin-left: 2px;
  }
}

#navigation-container .navbar #menu-menu-glowne li a {
  color: #3E3E47 !important;
  font-size: 16px;
}

@media (min-width: 992px) and (max-width: 1250px) {
  #navigation-container .navbar #menu-menu-glowne li a {
    font-size: 13px;
  }
}

@media (max-width: 1199px) {
  #navigation-container #menu-menu-glowne {
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  #navigation-container .navbar {
    padding-right: 0;
    height: 90px;
  }
  #navigation-container .navbar #navbarNav {
    padding-right: 0;
    margin-right: 30px;
  }
  #navigation-container .navbar #navbarNav #menu-menu-glowne {
    height: 90px;
    max-width: 1140px;
    flex-wrap: nowrap;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #navigation-container .navbar #navbarNav #menu-menu-glowne li {
    margin-left: 0px;
  }
}

@media (min-width: 992px) {
  #navigation-container .navbar #navbarNav #menu-menu-glowne li a {
    font-weight: 400;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
  }
}

@media (min-width: 992px) and (min-width: 992px) and (max-width: 1099px) {
  #navigation-container .navbar #navbarNav #menu-menu-glowne li a {
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (min-width: 992px) {
  #navigation-container .navbar #navbarNav #menu-menu-glowne li a.activeItem:after {
    display: none;
  }
  #navigation-container .navbar #navbarNav #menu-menu-glowne li a.activeItem, #navigation-container .navbar #navbarNav #menu-menu-glowne li a:hover {
    background: linear-gradient(210.65deg, #C8B525 0%, #2FAB66 100%);
    color: #fff !important;
  }
}

@media (max-width: 991px) {
  #navigation-container .fb_menu_link {
    margin-right: 60px;
  }
  #navigation-container .navbar #menu-menu-glowne {
    margin-right: 0;
    height: calc(100vh - 79px);
  }
  #navigation-container .navbar #menu-menu-glowne li {
    background-color: #fff;
    height: 9%;
  }
  #navigation-container .navbar #menu-menu-glowne li a {
    font-style: 14px;
  }
  #navigation-container .navbar #menu-menu-glowne li:hover {
    background-color: #3E3E47;
  }
  #navigation-container .navbar #menu-menu-glowne li:hover a {
    color: #33AB64 !important;
  }
}

@media (max-width: 330px) {
  #navigation-container {
    background-color: #fff;
  }
  #navigation-container .navbar-brand img {
    width: 160px;
  }
}

#home {
  min-height: calc(100vh - 79px);
  margin-top: 79px;
  background-image: url("img/header.jpg");
  background-position: center top;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#home h3 {
  font-size: 16px;
}

#home .btn_header {
  position: relative;
  margin-bottom: 50px;
  margin-top: 20px;
}

#home .header_subtitle {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  font-weight: bold;
}

#home .header_subtitle span {
  color: #33AB64;
}

@media (max-width: 767px) {
  #inwestycja {
    background-position: left top;
  }
}

#lokalizacja {
  background-size: contain;
  background-position: bottom center;
  min-height: 900px;
}

@media (min-width: 1440px) {
  #lokalizacja {
    min-height: 1000px;
  }
}

@media (max-width: 991px) {
  #lokalizacja {
    min-height: 800px;
  }
}

@media (max-width: 767px) {
  #lokalizacja {
    min-height: 700px;
  }
}

@media (max-width: 567px) {
  #lokalizacja {
    min-height: 640px;
  }
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.parallax_simple {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.no_parallax h2 {
  font-size: 26px;
  line-height: 40px;
  width: 80%;
  margin: 0 auto;
  font-weight: normal;
}

.no_parallax h2:after {
  display: none;
}

#okolica {
  position: relative;
  margin: 0 auto;
  min-height: 1000px;
  background-repeat: no-repeat;
}

#okolica #okolica_bg_box {
  background-image: url("img/mapa_02-6.jpg");
  position: absolute;
  background-position: bottom right;
  background-size: auto 100%;
  background-repeat: no-repeat;
  bottom: 0;
  top: 280px;
  left: 0;
  right: 0;
  width: 100%;
}

@media (max-width: 1800px) {
  #okolica #okolica_bg_box {
    background-position: bottom center;
  }
}

@media (max-width: 991px) {
  #okolica #okolica_bg_box {
    top: 550px;
  }
}

@media (max-width: 567px) {
  #okolica #okolica_bg_box {
    display: none;
  }
}

@media (max-width: 567px) {
  #okolica {
    min-height: 750px;
  }
}

@media (max-width: 567px) {
  #okolica {
    background-image: none !important;
  }
}

#okolica .legend_box {
  margin-top: 40px;
}

#okolica .legend_box div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

@media (max-width: 567px) {
  #okolica .legend_box div {
    margin-left: 20%;
  }
}

#okolica .legend_box p {
  padding: 0;
  margin: 0;
  padding-left: 25px;
  font-weight: bold;
}

@media (max-width: 567px) {
  #okolica .mobile_map {
    height: 400px;
    background-position: bottom center;
    background-size: 100% auto;
    margin-bottom: -75px;
    margin-top: -60px;
    background-repeat: no-repeat;
    background-image: url("img/mapa_02-6-mob.jpg");
  }
}

.pricetable {
  margin-top: 70px;
  margin-bottom: 70px;
}

@media (max-width: 567px) {
  .pricetable {
    margin-bottom: 0px;
  }
}

.pricetable .pricetable_header {
  display: flex;
}

.pricetable .pricetable_header .ht_box {
  width: 18%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}

.pricetable .pricetable_row {
  display: flex;
  width: 100%;
}

.pricetable .pricetable_row .td_box {
  border: 1px solid #D8D8D8;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 18%;
}

@media (max-width: 567px) {
  .pricetable .pricetable_row .td_box {
    border-bottom: 0;
  }
}

@media (max-width: 767px) {
  .pricetable .pricetable_row .td_box {
    font-size: 12px;
  }
}

.pricetable .pricetable_row .td_box:first-child {
  font-weight: bold;
  color: #fff;
  background-color: #33AB64 !important;
}

.pricetable .pricetable_row .td_box:last-child {
  font-weight: bold;
  background-color: #33AB64;
  margin-bottom: 2px;
}

.pricetable .pricetable_row .td_box:last-child:hover {
  cursor: pointer;
}

.pricetable .pricetable_row .td_box:last-child:hover a {
  color: #fff !important;
}

.pricetable .td_relative_box {
  position: relative;
  padding-left: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 18%;
}

.pricetable .td_relative_box .button_std {
  min-width: 100%;
  border: 0px solid #fff;
}

.pricetable .td_relative_box .button_std a {
  color: #fff;
}

.pricetable .td_relative_box .button_std::before {
  left: 20px;
  height: 45px;
}

.pricetable .pricetable_row.sprzedany .td_box,
.pricetable .pricetable_row.rezerwacja .td_box {
  background-color: #F2F2F2;
}

.pricetable .pricetable_row.rezerwacja .td_relative_box .td_box,
.pricetable .pricetable_row.sprzedany .td_relative_box .td_box {
  color: #97979C !important;
  cursor: context-menu;
}

.pricetable .pricetable_row.rezerwacja .td_relative_box .td_box span,
.pricetable .pricetable_row.sprzedany .td_relative_box .td_box span {
  z-index: 5;
}

.pricetable .pricetable_row.rezerwacja .td_relative_box .td_box span a, .pricetable .pricetable_row.rezerwacja .td_relative_box .td_box span a:hover,
.pricetable .pricetable_row.sprzedany .td_relative_box .td_box span a,
.pricetable .pricetable_row.sprzedany .td_relative_box .td_box span a:hover {
  color: #97979C !important;
  cursor: context-menu;
}

.pricetable .pricetable_row.rezerwacja .td_relative_box .td_box::after,
.pricetable .pricetable_row.sprzedany .td_relative_box .td_box::after {
  opacity: 1;
  transition-duration: 0.3s;
  display: block;
  z-index: 3;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 19px;
  right: -1px;
  margin-bottom: 2px;
  border-radius: 22.5px;
  content: '';
  transition-duration: 0.2s;
  background: #F2F2F2;
}

.pricetable .pricetable_row.rezerwacja .td_relative_box .td_box::before,
.pricetable .pricetable_row.sprzedany .td_relative_box .td_box::before {
  display: none;
}

.mobile_version.pricetable .pricetable_row {
  flex-direction: column;
  margin-bottom: 20px;
}

.mobile_version.pricetable .pricetable_row .td_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mobile_version.pricetable .pricetable_row .td_box div {
  text-align: left;
  width: 50%;
  padding-left: 15px;
}

.mobile_version.pricetable .pricetable_row .td_box .ht_box {
  font-weight: bold;
}

.mobile_version.pricetable .pricetable_row .td_box:last-child {
  border: 0;
}

.mobile_version.pricetable .pricetable_row.rezerwacja .td_box:last-child,
.mobile_version.pricetable .pricetable_row.sprzedany .td_box:last-child {
  background-color: #c8c8c8;
}

#technologia h6 {
  color: #000;
  position: relative;
}

#technologia h6:before {
  width: 60px;
  height: 60px;
  content: '';
  display: block;
  position: absolute;
  left: -90px;
  background-position: center;
  background-size: contain;
}

@media (max-width: 567px) {
  #technologia h6:before {
    position: static;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

#technologia .row > div:nth-child(1) h6:before {
  background-image: url("img/t1.svg");
}

#technologia .row > div:nth-child(2) h6:before {
  background-image: url("img/t2.svg");
}

#technologia .row > div:nth-child(3) h6:before {
  background-image: url("img/t3.svg");
}

#technologia .row > div:nth-child(4) h6:before {
  background-image: url("img/t4.svg");
}

#technologia .row > div:nth-child(5) h6:before {
  background-image: url("img/t5.svg");
}

#technologia .row > div:nth-child(6) h6:before {
  background-image: url("img/t6.svg");
}

#inwestor .logo {
  width: 200px;
}

@media (min-width: 992px) {
  #inwestor .logo {
    margin-top: -50px;
  }
}

#inwestor h5 {
  color: #2FAB66;
}

#inwestor .intro {
  background-blend-mode: multiply;
}

#inwestor .intro img {
  background-blend-mode: multiply;
  max-width: 100%;
  width: 200px;
}

#kontakt p {
  margin-bottom: 0;
  font-weight: 400;
}

#kontakt p a, #kontakt p a span {
  color: #3E3E47;
}

#kontakt #kontakt-form #confirm-form input {
  color: #fff;
}

#kontakt .button_std, #kontakt .button_std:before {
  border-radius: 40px;
}

@media (max-width: 767px) {
  #kontakt .button_std {
    margin-top: 10px;
  }
  #kontakt #kontakt-form #confirm-form div {
    margin-left: 50% !important;
    transform: translateX(-50%);
  }
  #kontakt #confirm-form {
    margin-top: 20px;
  }
}

#prgrm-footer {
  background-color: #000;
  padding-top: 50px;
  font-size: 15px;
  line-height: 26px;
  color: #AEAEAE;
}

#prgrm-footer .footer_menu a {
  display: block;
  line-height: 36px;
}

#prgrm-footer a:hover {
  color: #33AB64;
}

#prgrm-footer a {
  display: inline-block;
}

#map {
  height: 290px;
}

#galeria {
  padding-bottom: 0;
}

#galeria .gallery_item {
  margin-left: -15px;
  margin-right: -15px;
}

.gallery_box .gallery_item {
  position: relative;
}

.gallery_box .gallery_item .hover_glass {
  display: block;
  content: '';
  top: 100%;
  bottom: 100%;
  left: 100%;
  right: 100%;
  position: absolute;
  opacity: 0.4;
  background: linear-gradient(180deg, #C8B525 0%, #2FAB66 100%);
  transition-duration: 0.5s;
}

.gallery_box .gallery_item:hover .hover_glass {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.gallery_box2 {
  display: flex;
  flex-wrap: wrap;
}

.gallery_box2 .gallery_item {
  width: 50%;
}

@media (max-width: 567px) {
  .gallery_box2 .gallery_item {
    width: 100%;
  }
}
