
// /////////////////////////////////////////////////
// MAIN MENU STYLE
// /////////////////////////////////////////////////


@media (max-width: 991px) {
  header.main-menu-desktop {display: none!important;}
}

@media (min-width: 992px) {
  header.main-menu-mobile {display: none!important;}
}



header.main-menu-desktop {
  transition-duration: 0.5s;
  position: fixed;
  width: 100vw;
  z-index: 999;
  background-color: transparent;
  top: 0;
  padding: 15px 30px;
  height: 144px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  .container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .menu-logo img {
    height: 70px;
  }
  nav ul {
    display: flex;
    a {
      font-size: 14px!important;
      margin-left: 20px;
      margin-right: 20px;
    }
    a.activeItem {
      color: $c1!important;
    }

  }
  .add_info_box {
    display: flex;
    @media (max-width: 1200px) {
      display: none;
    }
    a {
      font-size: 14px!important;
      margin-left: 20px;
      margin-right: 20px;
      span {font-size: 12px!important;}
    }
    .icon:before {
      left: -20px;
    }
  }
}

header.main-menu-desktop.scroll {
height:  80px;
background-color: $c4;
box-shadow: 0 0 60px 0 rgba(234,234,234,0.5);
transition-duration: 0.3s;
.menu-logo img {
  height: 50px;
  transition-duration: 0.3s;
}
}
.menu-logo img {transition-duration: 0.3s;}


header.main-menu-mobile {
  color: #2D2D2D;
  top: 0;
  position: fixed;
  width: 100vw;
  font-weight: bold;
  z-index: 999;
  	box-shadow: 0 0 60px 0 rgba(234,234,234,0.5);
  img {
    max-width: 100%;
    max-height: 100%;
  }
  a {
    text-decoration: none;
    color: inherit;
    text-transform: none;
  }
  a:hover {
    cursor: pointer;
    color: $c1;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: left;
  }
}


header.main-menu-mobile .menu-blackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EEEEEE;
  z-index: -1;
  display: none;
}

header.main-menu-mobile .menu-blackdrop.open {
  display: block;
}

///////////////////////////////////////////////////////
header.main-menu-mobile .menu-bar {
  background-color: #fff;
height: 80px;
display: flex;
justify-content: space-between;
padding: 13px 15px 13px 30px;

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
}


///////////////////////////////////////////////////////
header.main-menu-mobile .menu-dropdown-box.open {
  right: 0;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.24,.59,.04,.79);
}

header.main-menu-mobile .menu-dropdown-box {
  // transition-timing-function: cubic-bezier(.24,.59,.04,.79);
  transition-duration: 1s;
  background-color: #fff;
  min-height: calc(100vh - 80px);
  width: 85vw;
  max-width: 600px;
  position: absolute;
  right: -1000px;
  // left: -10px;
  padding-left: 40px;
  padding-right: 15px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media (max-height: 550px) {
    padding-top: 15px;
  }
 @media (max-width: 340px) {
   width: 100vw;
   padding-left: 15px;

 }
  .add-info-item-title {
    color: rgb(128, 128, 128);
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
    @media (max-height: 650px) {
      margin-top: 15px;
      margin-bottom: 5px;
    }
    @media (max-height: 560px) {
      display: none;
    }
  }

  .add-info-hide-first {
    @media (max-height: 459px) {
      display: none!important;
    }
  }

 nav ul {
   .add-info-item-title {
     color: rgb(128, 128, 128);
     font-size: 14px;
   }
   li {
     list-style-type: none;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 18px;
     @media (max-height: 460px) {
       padding-top: 5px;
       padding-bottom: 5px;
     }
     @media (max-height: 360px) {
       padding-top: 0px;
       padding-bottom: 0px;
     }
   }
   a {
     cursor: pointer;
     display: block;
   }
 }

 .add-info-box .lang-box {
     display: flex;
     align-items: center;
     color: rgb(128, 128, 128);
     span {
       margin: 5px;
     }
     img {
       height: 20px;
       margin: 5px;
     }
     .avtive-lang {
       color: $c1;
     }
   }


 .add-info-box .add-info-item-box {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   font-size: 16px;
   @media (max-height: 550px) {
    margin-top: 15px;
   }

   .add-info-item {
     display: flex;
     margin-right: 15px;
     // justify-content: center;
     // align-items: center;
     margin-top: 7px;
     margin-bottom: 7px;
     img {margin-right: 5px;}
     span {color: $c1;}
   }
 }

 }

/////////////////////////////////////////////

#nav-icon2 {
  margin-top: -5px;
  width: 60px;
  height: 45px;
  position: relative;
  /*margin: 50px auto;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #2D2D2D;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Icon 2 */

#nav-icon2 {
  transform: scale(0.5);
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;

  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
