@charset "UTF-8";
html, body {
  font-size: 16px;
  font-weight: 300;
  overflow-x: hidden;
  color: #4A4A4A;
  font-family: 'Sanchez', serif;
}

@media (min-width: 1600px) {
  html, body {
    font-size: 18px;
  }
}

@media (max-width: 567px) {
  html, body {
    text-align: center;
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html, body {
    font-size: 14px;
  }
}

.btn {
  background-color: #CA9618;
  color: #3C3C3B;
  font-weight: bold;
}

.btn:hover {
  color: #fff;
}

section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 120px;
  padding-bottom: 120px;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 567px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1270px;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

a {
  display: inline;
  color: #3C3C3B;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

h1 {
  font-size: 64px;
}

@media (max-width: 567px) {
  h1 {
    font-size: 46px;
  }
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

h5 {
  margin-top: 20px;
  font-size: 16px;
}

h6 {
  color: #CA9618;
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 1600px) {
  p {
    line-height: 26px;
  }
}

section ul {
  padding-left: 10px;
  list-style-type: none;
  margin: 0;
}

section ul li {
  position: relative;
  margin-bottom: 15px;
  line-height: 28px;
}

section ul li:before {
  content: "•";
  margin-left: -15px;
  margin-right: 15px;
  font-size: 22px;
  color: #669966;
  position: absolute;
  top: -5px;
}

.underscore:after {
  display: block;
  content: '';
  height: 4px;
  width: 45px;
  background-color: #CA9618;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 567px) {
  .underscore:after {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.underscore2:after {
  display: block;
  content: '';
  height: 4px;
  width: 45px;
  background-color: #669966;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 567px) {
  .underscore2:after {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.underscore3:after {
  display: block;
  content: '';
  height: 4px;
  width: 45px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 567px) {
  .underscore3:after {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.dark_bg {
  color: #fff;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_content {
  text-align: center;
}

@media (min-width: 991px) {
  .center_content {
    padding-bottom: 10%;
  }
}

.center_content h2:after {
  margin-left: 50%;
  transform: translateX(-50%);
}

.hight_section .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hight_section .container p {
  line-height: 36px;
}

@media (min-width: 769px) {
  .hight_section .container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (max-width: 567px) {
  .hight_section .container p {
    line-height: 26px;
  }
}

@media (max-width: 567px) {
  .p0_mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.animate {
  opacity: 0;
}

.animation-target {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@media (max-width: 567px) {
  .animation-target {
    animation-duration: 0.5s;
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    @media (max-width: 567px) {
      transform: translate3d(0, 300px, 0);
    }
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.imgbox_slider {
  position: relative;
}

@media (max-width: 767px) {
  .imgbox_slider {
    margin-top: 50px;
  }
}

.imgbox_slider .slides_box {
  position: relative;
  min-height: 300px;
}

@media (min-width: 1600px) {
  .imgbox_slider .slides_box {
    min-height: 400px;
  }
}

.imgbox_slider .slide_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

@media (max-width: 567px) {
  .imgbox_slider .slide_bg {
    position: absolute;
    width: 100%;
    height: 40vh;
  }
}

.imgbox_slider .slide_box_small {
  position: relative;
  min-height: 250px;
}

@media (min-width: 1600px) {
  .imgbox_slider .slide_box_small {
    min-height: 300px;
  }
}

.imgbox_slider .slide_box_small .slide_bg {
  background-size: contain;
  background-repeat: no-repeat;
}

.imgbox_slider .active_slide.slide_bg {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

.imgbox_slider .arrow-left, .imgbox_slider .arrow-right {
  height: 50px;
  width: 40px;
  z-index: 2;
  cursor: pointer;
  background-color: #CA9618;
  background-size: 35% 35%;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
}

.imgbox_slider .arrow-left:hover, .imgbox_slider .arrow-right:hover {
  background-size: 45% 45%;
  transition-duration: 0.3s;
}

.imgbox_slider .arrow-left {
  background-position: 80% 50%;
  right: 40px;
  background-image: url("img/arrow-left-white.svg");
}

.imgbox_slider .arrow-right {
  background-position: 30% 50%;
  right: 0px;
  background-image: url("img/arrow-right-white.svg");
}

.imgbox_slider2 .arrow-left {
  left: -55px;
  right: auto;
}

@media (max-width: 567px) {
  .imgbox_slider2 .arrow-left {
    left: calc(50% - 40px);
  }
}

.imgbox_slider2 .arrow-right {
  left: -15px;
  right: auto;
}

@media (max-width: 567px) {
  .imgbox_slider2 .arrow-right {
    left: 50%;
  }
}

.imgbox_slider3 .arrow-left {
  background-color: #fff;
  left: -80px;
  right: auto;
  background-image: url("img/arrow-left.svg");
}

.imgbox_slider3 .arrow-right {
  background-color: #fff;
  left: -45px;
  right: auto;
  background-image: url("img/arrow-right.svg");
}

#navigation-container {
  background-color: #fff;
}

#navigation-container .fb_menu_link {
  margin-right: 20px;
  margin-left: -20px;
  margin-bottom: -5px;
}

#navigation-container .navbar-brand img {
  width: 222px;
  height: auto;
  max-width: none;
  max-height: none;
}

#navigation-container .navbar {
  background-color: #fff;
}

#navigation-container .navbar #menu-menu-glowne li a {
  color: #3C3C3B !important;
  font-size: 14px;
}

@media (min-width: 1600px) {
  #navigation-container .navbar #menu-menu-glowne li a {
    font-size: 16px;
  }
}

#navigation-container #nav-icon2 span {
  background: #CA9618;
}

@media (min-width: 992px) {
  #navigation-container .navbar {
    padding-right: 0;
    height: 90px;
  }
  #navigation-container .navbar #navbarNav {
    padding-right: 0;
    margin-right: 30px;
  }
  #navigation-container .navbar #navbarNav #menu-menu-glowne {
    height: 90px;
    flex-wrap: nowrap;
  }
  #navigation-container .navbar #navbarNav #menu-menu-glowne li a {
    font-weight: 400;
    margin-top: 10px;
  }
  #navigation-container .navbar #navbarNav #menu-menu-glowne li a.activeItem {
    color: #CA9618 !important;
  }
  #navigation-container .navbar #navbarNav #menu-menu-glowne li a.activeItem::after {
    bottom: 15px;
    border-bottom-width: 4px;
    border-bottom-color: #CA9618;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1440px) {
  #navigation-container #menu-menu-glowne {
    margin-right: 20px;
  }
  #navigation-container #menu-menu-glowne li {
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  #navigation-container .navbar #navbarNav {
    margin-right: -10px;
  }
  #navigation-container .navbar #navbarNav #menu-menu-glowne li a {
    font-size: 13px;
  }
  #navigation-container .navbar-brand img {
    width: 160px;
  }
}

@media (max-width: 991px) {
  #navigation-container .fb_menu_link {
    margin-right: 60px;
  }
  #navigation-container .navbar #menu-menu-glowne {
    margin-right: 0;
    height: calc(100vh - 79px);
  }
  #navigation-container .navbar #menu-menu-glowne li {
    background-color: #fff;
    height: 10%;
  }
  #navigation-container .navbar #menu-menu-glowne li a {
    font-style: 14px;
  }
  #navigation-container .navbar #menu-menu-glowne li:hover {
    background-color: #3C3C3B;
  }
  #navigation-container .navbar #menu-menu-glowne li:hover a {
    color: #CA9618 !important;
  }
}

@media (max-width: 330px) {
  #navigation-container {
    background-color: #fff;
  }
  #navigation-container .navbar-brand img {
    width: 160px;
  }
}

#home {
  min-height: calc(100vh - 79px);
  margin-top: 79px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  #home {
    justify-content: center;
  }
}

#home .arrow-left, #home .arrow-right {
  top: 15px;
}

#home .arrow-left {
  left: -100px;
}

@media (max-width: 1099px) {
  #home .arrow-left {
    left: calc(0px);
    top: auto;
    bottom: -70px;
  }
}

@media (max-width: 567px) {
  #home .arrow-left {
    left: calc(50% - 40px);
  }
}

#home .arrow-right {
  left: -65px;
}

@media (max-width: 1099px) {
  #home .arrow-right {
    left: 40px;
    top: auto;
    bottom: -70px;
  }
}

@media (max-width: 567px) {
  #home .arrow-right {
    left: 50%;
  }
}

#home .slides_box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#home .header_content {
  text-align: left;
}

#home .header_content h1 {
  font-size: 60px;
}

@media (max-width: 567px) {
  #home .header_content h1 {
    font-size: 35px;
    padding: 10px;
  }
}

#home .header_content h3 {
  font-size: 25px;
  font-weight: normal;
}

@media (max-width: 567px) {
  #home .header_content h3 {
    font-size: 18px;
  }
}

#home .header_content h3 span {
  color: #CA9618;
}

@media (max-width: 567px) {
  #home .header_content {
    text-align: center;
    margin-top: -50px;
  }
}

@media (max-width: 567px) {
  #home.imgbox_slider .slide_bg {
    height: calc(100vh - 79px);
  }
}

#section1 {
  background-size: 100% auto;
  background-position: bottom;
}

@media (min-width: 1200px) {
  #section1 #lokalizacja .row > div:first-child {
    padding-right: 5%;
  }
}

.winnica {
  position: relative;
  background-image: url("img/winnica_bg.jpg");
  background-size: 60% 100%;
}

@media (max-width: 767px) {
  .winnica {
    background-size: cover;
  }
}

.winnica .winnica_bg {
  background-image: url("img/winnica.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 60%;
}

@media (max-width: 767px) {
  .winnica .winnica_bg {
    position: static;
    height: 400px;
  }
}

@media (max-width: 567px) {
  .winnica .winnica_bg {
    height: 300px;
  }
}

.winnica .cytat {
  color: #CA9618;
}

@media (max-width: 1199px) {
  #busko_zdroj {
    background-size: auto 60%;
    background-position: -15% 50%;
  }
}

@media (max-width: 991px) {
  #busko_zdroj {
    background-position: 150% 50%;
    background-image: none !important;
  }
}

#busko_zdroj .bar_header {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  #busko_zdroj .bar_header {
    margin-top: 0;
  }
}

#busko_zdroj .bar_header .bg_box {
  display: block;
  content: '';
  height: 120px;
  width: 3000px;
  right: 0;
  top: -40px;
  z-index: 1;
  background-color: #669966;
  position: absolute;
}

@media (max-width: 567px) {
  #busko_zdroj .bar_header .bg_box {
    right: -100px;
  }
}

#busko_zdroj .bar_header h2 {
  position: relative;
  z-index: 2;
  color: #fff;
  padding-left: 20px;
  font-weight: bold;
}

#busko_zdroj .bar_header h2:after {
  content: '';
  display: block;
  height: 60px;
  width: 5px;
  background-color: #fff;
  top: -12px;
  left: -20px;
  position: absolute;
}

.o_busku_atrakcje {
  background-image: url("img/bg_atrakcje.jpg");
}

@media (max-width: 567px) {
  .o_busku_atrakcje {
    background-image: none;
  }
}

.o_busku_atrakcje .container {
  background-color: #fff;
}

.o_busku_atrakcje .row:nth-child(2n) {
  display: flex;
  flex-direction: row-reverse;
}

.o_busku_atrakcje .row > div:nth-child(2) {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.o_busku_atrakcje .row > div:nth-child(1) {
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 567px) {
  .o_busku_atrakcje .row > div:nth-child(1) {
    min-height: 250px;
  }
}

.parallax-window {
  padding-top: 100px;
  padding-bottom: 100px;
  background: transparent;
}

@media (max-width: 768px) {
  .parallax-window {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.parallax-window h2 {
  width: 80%;
  margin: 0 auto;
}

.parallax_simple {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.no_parallax h2 {
  font-size: 26px;
  line-height: 40px;
  width: 80%;
  margin: 0 auto;
  font-weight: normal;
}

.no_parallax h2:after {
  display: none;
}

.wynajem {
  background-image: url("img/mapa_02.jpg");
  background-position: right top;
  background-size: 60% auto;
}

@media (max-width: 1199px) {
  .wynajem {
    background-position: right 20%;
  }
}

@media (max-width: 991px) {
  .wynajem {
    background-image: none !important;
  }
}

.wynajem .lg_padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 991px) {
  .wynajem .lg_padding {
    padding-top: 100px;
    padding-bottom: 0;
  }
}

@media (min-width: 1600px) {
  .wynajem .zabytki_w_okolicy_col {
    padding-left: 80px;
  }
}

.kalkulator_box {
  position: relative;
  margin-top: 100px;
}

@media (max-width: 991px) {
  .kalkulator_box {
    margin-top: -20px;
  }
}

.kalkulator_box .kalkulator_bg {
  content: '';
  display: block;
  position: absolute;
  background-color: #669966;
  top: 0;
  bottom: 0;
  left: -20000px;
  right: 0;
}

@media (max-width: 767px) {
  .kalkulator_box .kalkulator_bg {
    right: -2000px;
  }
}

.kalkulator_box .kalkulator_content {
  position: relative;
  padding: 50px;
  padding-left: inherit;
  z-index: 2;
  color: #fff;
}

@media (max-width: 767px) {
  .kalkulator_box .kalkulator_content {
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.kalkulator_box .kalkulator_content h4 {
  margin-top: 30px;
  margin-top: 40px;
}

.kalkulator_box .kalkulator_content h4 span {
  font-size: 36px;
}

.kalkulator_box .kalkulator_content h4:before, .kalkulator_box .kalkulator_content h4:after {
  margin-top: 25px;
  margin-bottom: 20px;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.kalkulator_content #kalkulator-slider {
  background-color: transparent;
  border-bottom: 3px solid #fff;
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 25px;
  position: relative;
}

.kalkulator_content #kalkulator-slider .start, .kalkulator_content #kalkulator-slider .stop, .kalkulator_content #kalkulator-slider .content {
  position: absolute;
  width: 20px;
  top: -20px;
  text-align: center;
}

.kalkulator_content #kalkulator-slider .start:after, .kalkulator_content #kalkulator-slider .stop:after, .kalkulator_content #kalkulator-slider .content:after {
  content: '';
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.kalkulator_content #kalkulator-slider .start {
  left: 0px;
  right: auto;
  font-size: 25px;
  text-align: center;
}

.kalkulator_content #kalkulator-slider .start:after {
  background-color: #669966;
  background-image: url("img/point.svg");
  top: 38px;
}

.kalkulator_content #kalkulator-slider .content:after {
  height: 43px;
  background-image: url("img/point+arrow.svg");
  top: 23px;
}

.kalkulator_content #kalkulator-slider .stop {
  right: 0;
  left: auto;
  font-size: 25px;
}

.custom_pricetable_section {
  background-image: url("img/osiedle-bg.jpg");
}

@media (min-width: 768px) {
  .custom_pricetable_section img {
    float: right;
  }
}

.pricetable {
  margin-top: 70px;
  margin-bottom: 70px;
}

@media (max-width: 567px) {
  .pricetable {
    margin-bottom: 0px;
  }
}

.pricetable .pricetable_header {
  display: flex;
}

.pricetable .pricetable_header .ht_box {
  width: 18%;
  text-align: center;
  padding-bottom: 20px;
}

.pricetable .pricetable_row {
  color: #3C3C3B;
  display: flex;
  width: 100%;
}

.pricetable .pricetable_row .td_box {
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 18%;
}

@media (max-width: 567px) {
  .pricetable .pricetable_row .td_box {
    border-bottom: 0;
  }
}

@media (max-width: 767px) {
  .pricetable .pricetable_row .td_box {
    font-size: 12px;
  }
}

.pricetable .pricetable_row .td_box:first-child {
  font-weight: bold;
  color: #fff;
  font-weight: normal;
  border-bottom: 2px solid #fff;
  background-color: #669966 !important;
}

.pricetable .pricetable_row .td_box:last-child {
  font-weight: bold;
  background-color: #669966;
  margin: 3px;
  margin-left: 20px;
  border: 0px;
}

.pricetable .pricetable_row .td_box:last-child span {
  font-weight: 300;
}

@media (max-width: 568px) {
  .pricetable .pricetable_row .td_box:last-child {
    margin-left: 0px;
  }
}

.pricetable .pricetable_row .td_box:last-child a {
  color: #fff;
  font-weight: normal;
}

.pricetable .pricetable_row .td_box:last-child:hover {
  cursor: pointer;
}

.pricetable .pricetable_row .td_box:last-child:hover a {
  color: #fff !important;
}

.pricetable .pricetable_row.rezerwacja .td_box {
  background-color: #F8F7F7;
  cursor: default;
}

.pricetable .pricetable_row.rezerwacja .td_box:last-child a {
  color: #3C3C3B;
}

.pricetable .pricetable_row.rezerwacja .td_box:last-child a:hover {
  color: #3C3C3B;
}

.pricetable .pricetable_row.sprzedany .td_box {
  background-color: #F1F1F1;
  cursor: default;
}

.pricetable .pricetable_row.sprzedany .td_box:last-child a {
  color: #3C3C3B;
}

.pricetable .pricetable_row.sprzedany .td_box:last-child a:hover {
  color: #3C3C3B;
}

.mobile_version.pricetable .pricetable_row {
  flex-direction: column;
  margin-bottom: 20px;
}

.mobile_version.pricetable .pricetable_row .td_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mobile_version.pricetable .pricetable_row .td_box div {
  text-align: left;
  width: 50%;
  padding-left: 15px;
}

.mobile_version.pricetable .pricetable_row .td_box .ht_box {
  font-weight: bold;
}

.mobile_version.pricetable .pricetable_row .td_box:last-child {
  border: 0;
}

#wnetrza {
  background-color: #669966;
  background-image: url("img/bg_wnetrza.jpg");
  background-size: auto 100%;
}

#wnetrza .btn_icon {
  background-color: #fff;
  height: 45px;
  width: 200px;
  color: #CA9618;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  #wnetrza .btn_icon {
    margin: 20px auto;
  }
}

#wnetrza .btn_icon:before {
  content: '';
  display: block;
  background-image: url("img/pobierz-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-top: 3px;
}

#standard_box {
  background-image: url("img/bg-kontakt.jpg");
  background-position: bottom;
  background-size: 100% auto;
}

#standard_box .item {
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 991px) {
  #standard_box .item {
    padding-left: 80px;
    padding-right: 20px;
  }
}

@media (max-width: 567px) {
  #standard_box .item {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#standard_box .item h6 {
  color: inherit;
  font-weight: 700;
}

#standard_box .item h6:before {
  content: '';
  display: block;
  width: 65px;
  height: 65px;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 15px;
  top: 35px;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  #standard_box .item h6:before {
    left: 0;
  }
}

@media (max-width: 567px) {
  #standard_box .item h6:before {
    position: relative;
    text-align: center;
    left: 50%;
    top: 65px;
    transform: translate(-50%, -110%);
  }
}

#standard_box .item:nth-child(1) h6:before {
  background-image: url("img/fundamenty.svg");
}

#standard_box .item:nth-child(2) h6:before {
  background-image: url("img/konstrukcja.svg");
}

#standard_box .item:nth-child(3) h6:before {
  background-image: url("img/wykonczenie.svg");
}

#standard_box .item:nth-child(4) h6:before {
  background-image: url("img/stolarka.svg");
}

#standard_box .item:nth-child(5) h6:before {
  background-image: url("img/mury.svg");
}

#standard_box .item:nth-child(6) h6:before {
  background-image: url("img/instalacje.svg");
}

@media (max-width: 768px) {
  .kontakt_section {
    padding-bottom: 3px;
  }
}

#kontakt {
  margin-top: 100px;
  padding-top: 100px;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  #kontakt {
    padding-top: 30px;
    margin-top: 70px;
  }
}

#kontakt p {
  margin-bottom: 0;
  font-weight: 400;
  line-height: 38px;
}

#kontakt p a {
  color: #fff;
}

#kontakt p a span {
  color: #CA9618;
}

#kontakt #kontakt-form {
  z-index: 2;
  position: relative;
  margin-left: 50px;
}

@media (max-width: 991px) {
  #kontakt #kontakt-form {
    margin-left: inherit;
  }
}

#kontakt #kontakt-form .half_field label {
  width: 48%;
  float: left;
  margin-bottom: 4%;
}

#kontakt #kontakt-form .half_field label:first-child {
  margin-right: 4%;
}

#kontakt #kontakt-form textarea {
  height: 130px;
}

#kontakt #kontakt-form .kontakt-button {
  background-color: #fff;
  border-radius: 25px;
  width: 130px;
  height: 45px !important;
  float: right;
  margin-top: 35px;
  transform: translateY(-50%);
}

#kontakt #kontakt-form #form-subbmit {
  height: 45px;
  margin-top: -10px;
  color: #CA9618;
}

#kontakt #kontakt-form #form-subbmit:hover {
  color: #3C3C3B;
}

#kontakt #kontakt_content {
  border-left: 6px solid #CA9618;
  padding-left: 30px;
  padding-right: 10%;
  line-height: 36px;
}

#kontakt #kontakt_content h2 {
  line-height: 0.7;
}

@media (max-width: 991px) {
  #kontakt #kontakt_content {
    margin-bottom: 150px;
  }
}

#kontakt #kontakt_content a {
  color: #3C3C3B;
}

@media (max-width: 567px) {
  #kontakt #kontakt_content {
    border-left: 0px;
    padding: 0;
  }
}

#kontakt .kontakt-form-bg {
  background-color: #CA9618;
  position: absolute;
  top: -70px;
  bottom: -70px;
  right: -2000px;
  left: 0%;
  z-index: 1;
}

@media (max-width: 991px) {
  #kontakt .kontakt-form-bg {
    left: -2000px;
  }
}

@media (max-width: 567px) {
  #kontakt-form #confirm-form div:first-child {
    float: none;
  }
  #confirm-form {
    padding-top: 15px;
  }
}

footer#prgrm-footer {
  background-color: #CA9618;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 459px) {
  footer#prgrm-footer {
    height: auto;
  }
}

footer#prgrm-footer #copyright {
  margin: 0;
  padding: 0;
}

footer#prgrm-footer #copyright div {
  margin: 0;
}

footer#prgrm-footer #copyright a {
  line-height: 16px;
}

footer#prgrm-footer #copyright a:hover {
  color: #3C3C3B;
}

footer#prgrm-footer #copyright > div:before {
  display: none;
}

@media (max-width: 567px) {
  footer#prgrm-footer #copyright {
    max-width: 100%;
  }
}
